html, body {
    width: 100%;
}

#wrapper {
    width: 100%;
}

#listsCol {
    width: 24%;
    float: left;
}

#mapCol {
    width: 50%;
    float: left;
}

#formCol {
    width: 24%;
    float: left;
}

.listWrapper {
    display: none;
}

.selected {
    color: blue;
    border: 1px solid #f00;
}

.listItem {
    cursor: pointer;
}

.tabButton {
    cursor: pointer;
    width: 150px;
    border: 1px solid #000;
}

.clear {
    clear: both;
}
