html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#listCol {
    height: 98%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 24%;
    float: left;
}

#mapCol {
    width: 50%;
    height: 95%;
    float: left;
}

#formCol {
    width: 24%;
    float: left;
}

.listWrapper {
    display: none;
}

.selected {
    color: blue;
    border: 1px solid #f00;
}

.listItem {
    cursor: pointer;
    font-size: 13px;
}

.tabButton {
    cursor: pointer;
    width: 50px;
    border: 1px solid #000;
    float: left;
    text-align: center;
    padding: 4px;
}


.listItemText {
    display: block;
}

.selectedListItem .listItemText {
    background: #666;
    color: #fff;
}

.selectedStop {
    background: #ffff00;
    color: #666 !important;
    font-weight: bold;
}

.clear {
    clear: both;
}

.has_point {
    color: #222;
}

.no_has_point {
    color: #666;
}

ul {
    list-style-type: none;
    padding: 4px;
    font-size: 12px;
}

.highlightedStop {
    background-color: #FFFF00;
}

#formCol {
    font-size: 13px;
}

#formCol div {
    margin-bottom: 4px;
}

.stopSlug {
    font-style: italic;
}

#stopForm label {
    display: block;
}

#stopForm input {
    width: 90%;
}
