html, body {
    width: 100%;
}

#wrapper {
    width: 100%;
}

#listCol {
    width: 24%;
    float: left;
}

#mapCol {
    width: 50%;
    float: left;
}

#formCol {
    width: 24%;
    float: left;
}

.listWrapper {
    display: none;
}

.selected {
    color: blue;
    border: 1px solid #f00;
}

.listItem {
    cursor: pointer;
}

.tabButton {
    cursor: pointer;
    width: 150px;
    border: 1px solid #000;
    float: left;
}

.selectedListItem .listItemText {
    color: blue;
}

.selectedStop {
    color: blue;
}

.clear {
    clear: both;
}

.has_point {
    color: #222;
}

.no_has_point {
    color: #666;
}
