DEBUG = True
LOCAL_DEVELOPMENT = True
JSON_DEBUG = False

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'db_name',
        'USER': 'db_username',                          
        'PASSWORD': '',                                       
        'HOST': '',  
        'PORT': '',  
        }
    
}

