{% extends 'innov/base.html' %}
{% block content %}

<div class="g3"></div>

<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">
		<h1>Sorry!</h1>
		<h2>We couldn't find what you are looking for. </h2>
		<p>Did the web-address change? Try to find your directions again via <a href="index.html">ChaloBEST home</a>.</p>
		<p>If you feel that you got here because of an error on the website, <a href="#">let us know what you tried to do.</a></p>
	</div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
</div>

<div class="g3"></div>

{% endblock %}
