{% extends 'base.html' %}
{% block content %}

<div class="g3"></div>

<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">
		<h1>Something is wrong!</h1>
		<p>Looks like something broke on our system. When you got this page, we also got notified. We will fix it soon.</p>
		<p>If feel the site is off for too long, <a href="#"> please contact us.</a></p>
	</div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
</div>

<div class="g3"></div>

{% endblock %}
