{% extends 'base.html' %}

{% block content %}

<div class="g3">
<!--	<div class="leading40"></div>
	<div class="g3_3 listtitlesmall"><h3>ChaloBEST</h3></div>
	<div class="g3_3 staticpage lightgrey">
		<div class="box">
			<p>[Some quote about ChaloBEST]</p>
		</div>
	</div> -->
</div>

<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">
		<h1>About Us</h1>
		<p>ChaloBEST aims to provide innovative solutions to questions faced every day by millions of urban commuters – how can I reach my destination?</p>
		<p>Today most Indians with smart phones or basic handsets are able to receive information in an instant. Despite this revolution in mobile connectivity, essential data about urban mobility remains difficult to find – bus frequencies, train schedules, street maps and point­to­point routing.</p>
		<p>We see mobiles as tools to re­imagine  transportation systems as social networks, empower commuters as citizens, and make public transit agencies more user­friendly, transparent and efficient.</p>
		<h2>History</h2>
		<p>We began in January 2011 as a studio-based learning experiment at Homi Bhabha Centre for Science Education (HBCSE). It developed further and gained several partners and students which made it into a unique partnership project of people and organisations who believe in freely and publicly available data for public benefit. The project also aims to assist the cause of public transport, in our opinion the only way possible to reduce the environmental burden of dense cities like Mumbai and the travel time within it.</p>
		<p>The ChaloBEST project is stricktly open source and any community can pick up our work and reproduce the project in their own cities. We have cooperations with initiatives in Pune, Chennai and Delhi for mutual support between our respective projects.</p>
		<h2>Current developments</h2>
		<p>ChaloBEST is currently in a stage of pre-public beta release. We are working hard to get our databases error free so that we can start testing it via the various developed media of communication.</p>
		<h3>- 31st August 2012 update -</h3>
		<ul>
			<li>SMS server is up! Even though our database work has not been fully completed, you can already use this service. Be ware of a few errors it might make till it has been declared ready for public beta.</li>
			<li>The website is under construction and should soon be able to reflect all bus routes through Greater Mumbai, collected as per area, bus stops and all stops in a route. The latest gadget is that you can see the bus frequencies (still experimental)</li>
			<li>The Android app has got a decent foundation but needs still a lot of work. We expect to be able to release a very early beta by the end of September.</li>
		</ul>
		<h2>Team</h2>
		<p>ChaloBEST is a collaboration between <a href="#" title="CAMP">CAMP</a>, <a href="#" title="Gnowledge Lab">Gnowledge Lab</a>, <a href="#" title="MacGregor Techknowlogy">MacGregor Technknowlogy</a>, <a href="#" title="SPARC Systems">SPARC Systems</a>, and <a href="#" title="Topomancy Cooperative">Topomancy Cooperative</a> in Mumbai, <a href="#" title="busroutes.in">BusRoutes.in</a> in Chennai, and <a href="#" title="New IndicTrans Tech">New IndicTrans Tech</a> in Pune. ChaloBEST would have been impossible without the kind assistance of officials of the Traffic Planning Department of <a href="#" title="Brihanmumbai Electric Supply & Transport Undertaking">BEST</a> (Brihanmumbai Electric Supply & Transport Undertaking).</p>
		<h2>Acknowledgements</h2>
		<p>Our work has also been supported by Indian Institute of Human Settlements (IIHS) as the first-prize winners in the Transform Urban India competition held at the India Urban Conference 2011. For an introduction to ChaloBEST in less than ten minutes, see our talk at IIHS Sankranti on YouTube. </p>
	</div>
</div>
<div class="g3">
	<div class="g3_3 ">
		<div class="highlight">
			<h2>ChaloBEST work</h2>
			<div class="leading20"></div>
			<p class="small">Find our ongoing work and project history here:</p>
			<ul>
				<li><a href="#" title="ChaloBEST Project Wiki">Our project Wiki</a></li>
				<li><a href="#" title="ChaloBEST Code Repository">Our code repository</a></li>
			</ul>
			<p class="small">Similar initiatives in other cities</p>
			<ul>
				<li><a href="#" title="New IndicTrans Tech">Pune</a></li>
				<li><a href="#" title="busroutes.in">Chennai</a></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
