{% extends 'base.html' %}

{% block content %}

<div class="g3">
	<div class="leading40"></div>
	<div class="g3_3 listtitlesmall"><h3>Android app</h3></div>
	<div class="g3_3 staticpage lightgrey">
		<div class="box">
			<p>With this app, you can plan your route from stop to stop through Mumbai.</p>
		</div>
	</div>
</div>

<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">
		<h1>ChaloBEST - ANDROID APP</h1>
		<h2>FEATURES</h2>
		<p>The ChaloBEST Android App has been optimised for you to find the best bus options between any two stops in the city.</p>
		<ul>
			<li>See which buses are departing near you</li>
			<li>See the current frequency of each bus in the list (experimental)</li>
			<li></li>
		</ul>
		<h2>User Feedback</h2>
		<p><span class="italic">"This app is so easy to use and it is particularly really nice to see which buses leave from near to where I am."</span> Some User - 15-12-2012</p>
		<h2>System Requirements</h2>
		<p>Generally, this app is usable from Android 2.1 onwards. Additional requirements:</p>
		<ul>
			<li>Internal RAM:500Mb</li>
		</ul>
	</div>
</div>
<div class="g3">
	<div class="g3_3 ">
		<div class="highlight">
			<h2>ChaloBEST - Android App</h2>
			<div class="leading20"></div>
			<p><a href="#" class="g3_3 actionbutton">Download the ChaloBEST app</a></p>
			<div class="leading20"></div>
			<p class="small">Other smartphone? Our website has been optimised for mobile users.</p>
		</div>
	</div>
</div>
<div class="g3">
	<div class="leading20"></div>
	<div class="g3_3 listtitlesmall"><h3>DISCLAIMER: TEST PHASE</h3></div>
	<div class="g3_3 staticpage lightgrey">
		<div class="box">
			<p>ChaloBEST is still being tested, we plan to release a public beta soon. We welcome your feedback and comments via email to info@chalobest.in</p>
		</div>
	</div>
</div>

{% endblock %}
