{% extends 'base.html' %}

{% block title %} Area: {{ area.name }} {% endblock %}

{% block head %}
    <style type="text/css">
.has_point {
    color: #0f0;
}

.no_point {
    color: #f00;
}

a:hover {
    color: #00f;
}
    </style>

{% endblock %}

{% block body %}
    <div id="stopListWrapper" class="listColumn">
        <ul id="stopList">
            {% for stop in stops %}
                <li>
                    <a href="{{ stop.get_absolute_url }}">{{ s.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="routeListWrapper" class="listColumn">
        <input class="listFilterInput" placeholder="Filter..." />
            <ul id="routeList">
                {% for route in routes %}
                <li>
                    <a href="{{ route.get_absolute_url }}">{{ route.alias }}</a>
                </li>

                {% endfor %}
            </ul>
    </div>
    <div id="map"></div>

{% endblock %}
