<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="/static/favicon.ico" />
	
<title>ChaloBEST</title>


{% block leaflet_head %}

{% endblock %}

<!-- Included CSS Files -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/content.css" />

<link rel="stylesheet" href="/static/leaflet/leaflet.css" />
<!-- SMS font -->
<link href='http://fonts.googleapis.com/css?family=Quantico:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/leaflet/editinosm/Leaflet.EditInOSM.css" />

<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<!-- <script src="/static/leaflet/leaflet.js"></script> -->
<script src="/static/leaflet/editinosm/Leaflet.EditInOSM.js"></script>

<script src="/static/js/best_map.js"></script>


{% if request.mobile %}
    <script src="/static/js/guidesearch_mobile.js"></script>
    <link rel="stylesheet" href="/static/css/mobile_lightbox.css" />
{% else %}
    <link rel="stylesheet" href="/static/select2/select2.css" />
    <script src="/static/select2/select2.js"></script>
    <script src="/static/js/guidesearch_select2.js"></script>
{% endif %}


{% block extra_head %}
<script>
    $(function() {
        var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{minZoom:1,maxZoom:18,attribution:'Map data © openstreetmap contributors'});
        map = new L.Map('map', {editInOSMControl: true, layers: [osm], center: new L.LatLng(19.04719036505186, 72.87094116210938), zoom: 11 });
    });
</script>
{% endblock %}


</head>

<body>
{% block lightbox %}
{% if request.mobile %}
<div class="overlay">
    <div class="lightBoxBlock">
        <div class="lightBox">
            <div id="lightboxContent">
                Loading...
            </div>
            
        <a href="" class="closeLightBox">CLOSE</a>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block header %}
<div class="navBlock" style="">
<div class="nav">
	<div class="g12_12">
		<!--<a href="/"><div class="logoimg lightgreen">&nbsp;</div></a>-->
		<!--<div class="global banner">-->

        <img src="/static/images/headerimg-a.png" class="headerImg">
        <div class="bannerWrapper">            
            <a href="/" class="bannerImgLink"><!--<div class="logotext">--><!--<img src="/static/images/chalobesttextlogo.png" />-->            <img src="/static/images/header-text.png"><!--</div>--></a>
            <div class="gradientNav"></div>
            <a href="/"><div class="logotext" style="display:none;"><!--<img src="/static/images/chalobesttextlogo.png" />--> <img src="/static/images/header-text.png"></div></a>
			<!--<div class="globallinks">
				<ul class="navlink">
					<li><span class=""><a href="/accounts/signin">login</a> / <a href="/accounts/signup">sign-up</a></span></li>
				</ul>
			</div>--> 
            <div class="clear"></div>
        </div>
    
		<div class="navprimary lightgreen">
			<ul class="navlink">
				<!-- <li><a href="/android" class="sms small">Android</a></li> -->
				<li><a href="/sms" class="sms">SMS</a></li>
				<!-- <li class="tripli"><a href="http://trip.chalobest.in" class="trip small">Trip planner</a></li> -->
				<!-- <li class="tripli"><a href="/" class="trip small selected">Bus Guide</a></li> -->
			</ul>
		</div>
<!--		<div class="g8_gut"></div>-->
	</div>
</div>
<div class="g12_12 yellow rim" style="display:none;">&nbsp;</div>
</div>
{% endblock %}

{% block content %}


{% endblock %}


{% block footer %}

<div class="g12 foot">
	<ul>
		<!--<li><a href="/about" class="small">About ChaloBEST</a></li>
		<li><a href="/contact" class="small">Contact us</a></li>
		<li><a href="http://wiki.chalobest.in" class="small">Project Wiki</a></li>
		<li><a href="http://code.camputer.org/chaloBEST" class="small">Code Repository</a></li>
		<li><a href="/join_us" class="small">Join the Team</a></li>-->
        <li><a href="/sms" class="small">SMS</a></li>
        <li><a href="http://droid.chalobest.in" class="small">Android</a></li>
        <li><a href="http://trip.chalobest.in" class="small">OpenTripPlanner</a></li>

	</ul>

	<div class="right">
		<a href="http://twitter.com/chalobest"><img src="/static/images/twitter-icon.png" /></a>
        <a href="http://github.com/chalobest"><img src="/static/images/github-icon.png" /></a>
		<a href="http://facebook.com/chalobest"><img src="/static/images/facebook-icon.png" /></a>
<!--		<p>Join us @</p>-->
	</div>
    <div class="clear"></div>
</div>

{% endblock %}


</body>

</html>
