			<form name="guidesearch">
				<div class="g12_12">
                    <input id="autocomplete_all" class="search_input" type="{% if request.mobile %}text{% else %}hidden{% endif %}" name="fro" placeholder="Search by BUS, STOP or AREA..." /> </span>{% if request.mobile %}<span class="g12_4"><input class="searchsubmit" id="mobileGo" type="submit" value="Go" />  {% endif %}
            </div>
            <div class="g9_gut"></div>
<!--				{% if request.mobile %} <div class="g9_1"><input class="searchsubmit" id="mobileGo" type="submit" value="Go" /></div> {% endif %}-->
			</form>

