<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ChaloBEST</title>

</head>
<body bgcolor="#000000" link="white" vlink="white" alink="white">

 <font color="white">
  <center>
    <div>
        <img src="/static/images/logo.png">
    </div>

    <div>
        <h3>Free and simple tools to find your way through Mumbai, coming soon to SMS, web and smartphone.</h3>
        <br /> 

        <p>Want to get involved or learn more? Check out our <a href="http://wiki.chalobest.in/">project wiki</a> or join our <a href="http://gnowledge.org/cgi-bin/mailman/listinfo/smsbest">mailing list</a>. 
        <br>
        </p>
	<p>
  	<a href="http://chalobest.in/">ChaloBEST</a> is a collaboration of <a href="http://camputer.org/">CAMP</a>, <a href="http://mgtech.in/">MacGregor TechKnowlogy</a>, <a href="http://sparcsys.com/">SPARC Systems</a>, <a href="http://userinnov.com/">UserINNOV</a>, and the<br> <a href="http://www.hbcse.tifr.res.in/">Homi Bhabha Centre for Science Education, Tata Institute of Fundamental Research (TIFR)</a>.
	</p>
	<p>
	We are funded by the <a href="http://iihs.ac.in/">Indian Institute of Human Settlements</a> as the first-prize winners in the <br> <a href="http://transformurbanindia.com/">Sankranti Transform Urban India</a> competition at the <a href="http://iuc2011.in">India Urban Conference 2011</a>.
	</p>

	<p>We are also supported by the Traffic Planning Department of the <a href="http://bestundertaking.com/">BEST (Brihanmumbai Electric Supply & Transport Undertaking)</a>.
	</p>

     </div>
   </center>
 </font> 
</body>
</html>

