{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/static/leaflet/minimap/Control.MiniMap.css" />
<script src="/static/leaflet/minimap/Control.MiniMap.js"></script>
<script src="/static/js/index.js"></script>

{% endblock %}

{% block content %}

<style type="text/css">
    .listtitle {
        padding-top: 0;
}
</style>

<script type="text/html" id="stopTemplate">

<tr class="listItem" data-id="<%= stop.id %>">
	<td><a href="<%= stop.url %>"><b><%= stop.display_name %></b><br /><span><%= stop.name_mr %></span></a></td>
    <td><a href="<%= stop.area_url %>"><b><%= stop.area %></b><br /><span><%= stop.area_mr %></span></a></td>
</tr>
</script>

		<div class="g12_12 search">
<!--			<div class="g9_1">&nbsp;</div>-->
			<div class="g12_7">
				<h1 style="display:none">ChaloBEST Mumbai busguide</h1>
				{% include 'guidesearch_form.html' %}
			</div>


		<div class="searchbar g12_5">
<!--			<div class="g9_1">&nbsp;</div>-->
			<div class="g12_12">
				<ul>
					<li><span class="statistics">{{ counts.areas }} AREAS </span>
						
							<img class="statsImg" src="/static/images/area.png" >
						
					</li>
					<li><span class="statistics">{{ counts.stops }} STOPS</span><img class="statsImg" src="/static/images/stop.png" ></li>
					<li><span class="statistics">{{ counts.routes }} ROUTES</span><img class="statsImg" src="/static/images/bus.png" ></li>
				</ul>
			</div>
		</div>


		</div>

<div class="g7">

<!--
	<div class="leading40"></div>
-->
	<div class="leading10"></div>

	<div class="g7_7 white">
		
<!--		<div class="leading20"></div>-->
<!--		-->
<!--		<div class="leading30"></div>-->
		<div class="g9_9 maphome">
            <div class="landingmap" id="map"></div>
		</div>
		<br style="clear: both;" />
	</div>
	
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="g9_9">&nbsp;
	<!--
		<div class="listtitlesmall">
			<h3>Comments</h3>
		</div>
		<div class="comments" id="comments_list">
			<div class="comment_item">
				<div class="comment_user">
					indrani misra:
				</div>
				<div class="comment_content">
					Bani,
					Loved reading your article. What a lovely and meaningful experience between the banyan trees! I could picture it all. carry on with the great work that SRUTI is doing. Between the great economic and social divide...
				</div>
			</div>
		</div>
		<div class="leading20"></div>
		<div class="comments" id="comment_form">
			<h4 class="formHeader">Leave a comment</h4>
			<form action="/comments/post/" method="POST">
				<div style='display:none'>
					<input type='hidden' name="" value="" />
					<input type="hidden" name="next" value="" />
				</div>
				<div class="box">
					<label for="id_name">Name:</label>
					<div class="textbox"><input id="id_name" type="text" name="name" maxlength="50" /></div>
				</div>
				<div class="box">
					<label for="id_email">Email address:</label>
					<div class="textbox"><input id="id_email" type="text" name="email"  /></div>
				</div>
				<div class="box">
					<label for="id_url">URL:</label>
					<div class="textbox"><input id="id_url" type="text" name="url" /></div>
				</div>
				<div class="box">
					<label for="id_comment">Comment:</label>
					<div class="textbox"><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
				<div class="pot">
					<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>
					<input type="text" name="honeypot" id="id_honeypot" />
				</div>
				<div class="box right">
					<input type="hidden" name="content_type" value="emailer.emailerissue" id="id_content_type" />
					<input type="hidden" name="object_pk" value="" id="id_object_pk" />
					<input type="hidden" name="timestamp" value="" id="id_timestamp" />
					<input type="hidden" name="security_hash" value="" id="id_security_hash" />
					<div class="g9_3">&nbsp;</div>
					<div class="g9_gut"></div>
					<div class="g9_6"><input type="submit" id="id_submit" name="post" class="submit-post" value="Post"></div>
				</div>
			</form>
		</div>
		</div> -->
	</div>
</div>
<!-- 
<div class="g3">
	<div class="g3_3">
		<div class="highlight">
			<h2>Trip planner</h2>
			<div class="tripform">
				<form name="homeOTPsearch">
					<input class="tripinput" type="text" name="from" value="Type departure location" />
					<input class="tripinput" type="text" name="to" value="Type arrival location" />
					<input class="submit" type="submit" value="Search" />
					<br style="clear: both;" />
				</form>
			</div>
		</div>
	</div>
</div>
 -->
<!--<div class="g5">
	<div class="leading40"></div>
</div>-->
<div class="g5">
	<div class="g5_5 listtitle">
		
		<h2><img src="/static/images/stop.png" />Displayed stops</h2>
		</div>
	<div class="g5_5 height">
		<div class="g5_5 list">
			<table name="landing_area" class="tablebase" id="nearStopsTable">
				<tr class="sublist">
					<th class="twoCol_wide">
						<form name="filter_home_area" class="listfilter_form">
							<input class="listfilter_input" type="text" name="filter list" placeholder="Type to filter, select below..." />
						</form>
					</th>
					<th class="twoCol_narrow"></th>
				</tr>
				

			</table>
		</div>
	</div>
</div>

{% endblock content %}
