{% extends 'base.html' %}
{% block content %}

<!-- Settings links & profile -->
<div class="g3">
	<div class="leading20"></div>
		<div class="g3_3 staticpage main">
		<ul id="box-nav">
			<li class="selected"><a href='/accounts/mcaro/'>My page</a></li>
			<li><a href='/accounts/mcaro/edit/'>Edit profile</a></li>
			<li><a href='/accounts/mcaro/password/'>Change password</a></li>
			<li><a href='/accounts/mcaro/email/'>Change email</a></li>
		</ul>
	</div>
	<div id="box">
		<img class="mugshot" src="http://www.gravatar.com/avatar/8b8f3a7297801bd5cdbc6e58231ab0ed?s=140&amp;d=monsterid" alt="Your mugshot" />
		<dl>
			<dt>Email</dt>
			<dd>carolien.klep@gmail.com</dd>
		</dl>
	</div>
</div>

<!-- CONTENT BLOCK-->
<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">

	</div>
	<div class="leading40"></div>
</div>

<!-- SIDE CONTENT BLOCK-->
<div class="g3">

</div>

{% endblock %}
