<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>   
        <script type="text/javascript">
            console.firebug=true;//fix the openlayer problem
        </script>
        <script type="text/javascript" src="/static/OpenLayers/OpenLayers.js"></script>
        <style type="text/css">
body,html {
    width: 100%;
}

* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box; /*vendor*/
}

#wrapper {
    width: 100%;
}

.listColumn {
    width: 15%;
    float: left;
}

#map {
    float: left;
    width: 50%;
}
        </style>
        <title>ChaloBEST: {% block title %} {% endblock %}</title>
        {% block head %}

        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
        {% block body %}
		<ul>
		{% if user.is_authenticated %}
		<li><a href="{% url userena_signout %}">Sign Out</a></li>
		{% else %}
		<li><a href="{% url userena_signin %}">Sign In</a></li>
		<li><a href="{% url userena_signup %}">Sign Up</a></li>
		{% endif %}
		</ul>
{% block content %}
{% endblock %}
{% endblock %}
{% block extra_body %}
		
        {% endblock %}
        </div>
	
    </body>

</html>
