{% extends 'base.html' %}

{% block title %} Route {{ route.alias }} {% endblock %}

{% block head %}
    <style type="text/css">
.has_point {
    color: #0f0;
}

.no_point {
    color: #f00;
}

a:hover {
    color: #00f;
}

#map {
    float: left;
    width: 600px;
    height: 400px;
}
    </style>

    <script type="text/javascript">
var ROUTE_ALIAS = "{{ route.alias }}",
    API_BASE = "/1.0/";

$(document).ready(function() {
//    initMap();
    var url = API_BASE + "route/" + ROUTE_ALIAS;
    $.getJSON(url, {'srid': 3857}, function(obj) {
        initMap();
        var stopsGeoJSON = obj.stops;
        var stops = stopsGeoJSON.features;
        var stopsWithGeom = [];
        $.each(stops, function(i,v) {
            if (!$.isEmptyObject(v.geometry)) {
                stopsWithGeom.push(v);
            }    
        });

        stopsGeoJSON.features = stopsWithGeom;
        //console.log(jsonLayer);
        jsonLayer.addFeatures(geojson_format.read(stopsGeoJSON));
        var maxExtent = jsonLayer.getDataExtent();
        map.zoomToExtent(maxExtent);    
    });

});

function initMap() {
    var center = new OpenLayers.LonLat(8110203.9998955, 2170000.4068373);
    map = new OpenLayers.Map("map", {
              projection: new OpenLayers.Projection("EPSG:900913"),
              displayProjection: new OpenLayers.Projection("EPSG:4326")
          });
    var layers = [];
//        layers[0] = new OpenLayers.Layer.OSM();

    layers[0] = new OpenLayers.Layer.OSM();
    layers[1] = new OpenLayers.Layer.Bing({
            name: "Bing Aerial",
            type: "Aerial",
            key: "AqGpO7N9ioFw3YHoPV3C8crGfJqW5YST4gGKgIOnijrUbitLlgcAS2A0M9SJrUv9",
    });
    geojson_format = new OpenLayers.Format.GeoJSON();
    //
    //yes, jsonLayer is global. Yes, I know it's wrong.
    jsonLayer = layers[2] = new OpenLayers.Layer.Vector("Bus Stops");
    map.addLayers(layers);
    jsonLayer.events.on({
       'featureselected': onFeatureSelect,
       'featureunselected': onFeatureUnselect
    }); 
    // Feature selection control
    mapControl = new OpenLayers.Control.SelectFeature(jsonLayer, {
        clickout: false,
        toggle: true
    });
    
    //map.addControl(new OpenLayers.Control.ZoomPanel());
    map.addControl(mapControl);
    mapControl.activate();

    // Add a LayerSwitcher since we now have Bing
    map.addControl(new OpenLayers.Control.LayerSwitcher());

    // Add a permalink that opens the relevant view in OSM.org in a different window
    var permalink = new OpenLayers.Control.Permalink({base: "http://www.openstreetmap.org/"});
    map.addControl(permalink); 
}

function onFeatureSelect(obj) {
    window.location = obj.feature.attributes.url;
}

function onFeatureUnselect(obj) {
    $.noop();
}

    </script>

{% endblock %}

{% block body %}
    <div id="stopListWrapper">
        <input class="listFilterInput" placeholder="Filter..." />
        <ul id="stopList">            
            {% for r in routeDetails %}
                <li>
                    <a href="{{ r.stop.get_absolute_url }}">{{ r.stop.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="areaListWrapper">
        <input class="listFilterInput" placeholder="Filter..." />
        <ul id="areaList">
            {% for area in route.areas_passed %}
                <li>
                    <a href="{{ area.get_absolute_url }}">{{ area.name }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>

    <div id="map"></div>
{% endblock %}
