{% extends 'databrowse_base.html' %}

{% block title %} Route {{ route.alias }} {% endblock %}

{% block api_url %}
var API_BASE = "/1.0/";
var API_URL = API_BASE + 'route/' + "{{ route.alias }}";
{% endblock %}

{% block body %}
    <div id="stopListWrapper" class="listColumn">
        <h4>Stops on route:</h4>
        <input class="listFilterInput" placeholder="Filter..." />
        <ul id="stopList">            
            {% for r in routeDetails %}
                <li>
                    <a href="{{ r.stop.get_absolute_url }}">{{ r.stop.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="areaListWrapper" class="listColumn">
        <h4>Areas passed:</h4>
        <input class="listFilterInput" placeholder="Filter..." />
        <ul id="areaList">
            {% for area in route.areas_passed %}
                <li>
                    <a href="{{ area.get_absolute_url }}">{{ area.name }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>

    <div id="map"></div>
{% endblock %}
