{% extends 'base.html' %}

{% block title %}
    STATISTICS 
{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="45">
 
    <style type ="text/css">
       body {
          width: 80%;
          margin: 0 auto;
          background-color:#ff9900
       }
      .header {
          color:#000000;
          background-color:#ff9900;
      }

      .stops {
          color:#000000;
          background-color:#ff9900;
      }
      .routes {
          color:#000000;
          background-color:#ccff99;
      }

      .areas {
          color:#000000;
          background-color:#00ccff;
      }

    </style>


    <script type="text/javascript">

    </script>
{% endblock %}

{% block body %}
    <div class="header" >
      <h1>
    ChaloBEST! The Stats..
    </h1>
      </div>
    <div class="stops"> <h2> We have {{ total_stops_left }} stops left! </h2> <br /> <br />
    
    <div class="routes"> <h3> Routes needing some love.. </h3><br />
    <ul id="routesList">
        {% for r in routes %}
        <li class="route listItem">
            <a href="{{r.route.get_absolute_url}}" title="view stops for route">{{ r.route.alias }} </a> needs {{ r.remaining_stops }} stop locations out of {{ r.total_stops }}. 
       </li>
        {% endfor %}
    </ul>    


    <div class="areas"> <h3> Areas needing some love.. </h3> <br />
    <ul id="AreasList">
        {% for a in areas %}
        <li class="area listItem">
            <a href="{{a.area.get_absolute_url}}" title="view stops for area">{{ a.area.name }}</a> needs {{ a.remaining_stops }} stop locations out of {{ a.total_stops }}.
        </li>
        {% endfor %}
    </ul>    

    
{% endblock %}
