{% extends 'base.html' %}
{% block extra_head %}
{{ block.super }}

<style type="text/css">
.listtitle {
    padding-top: 0;
}

</style>


<script>
    $(function() {
        var geojson = {{ geojson|safe }};
        loadStopsGeojson(geojson);
        var bounds = jsonLayer.getBounds();
        map.fitBounds(bounds);
    });
</script>

{% endblock %}

{% block content %}

<div class="g12_12 search">
<!--		<div class="g12_2">&nbsp;</div>-->
		<div class="g12_7">
        {% include 'guidesearch_form.html' %}
        </div>


	<div class="g12_5 pagetitle">
		<div class="guideh1box">
			<div class="rti">
				<img src="/static/images/stop.png" />
			</div>
			<div class="titleXS rtt">
				<h1><span>{{ stop.display_name }} - </span><span>{{ stop.name_mr }}</span></h1>
        	</div>

			{% if stop.display_alt_names %}
			<p class="marginBottomSmall">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% for alt_name in stop.display_alt_names %}
					{{ alt_name.name }}{% if not forloop.last %}, {% endif %}
				{% endfor %}
				<!-- <span class="small right tred"><a href="#">Add local name&nbsp;</a></span> --></p>
			{% endif %}



	    </div>

		<div class="g5_5">
			<div class="g5_5 listextrainfo">
				<div class="floatLeft g5_2">
					<p class="marginBottomSmall">
						<img src="/static/images/area.png" />
						<a href="{{ stop.area.get_absolute_url }}">{{ stop.area.display_name }}</a><br>&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ stop.area.get_absolute_url }}">{{ stop.area.name_mr }}</a>
					</p>
				</div>
				<div class="g5_gut">&nbsp;</div>
					<div class="floatRight g5_3">
						<p class="marginRight marginBottomSmall textAlignRight">{{ stop.road.display_name }}<br>  {{ stop.road.name_mr }}</p>
					</div>
		
				</div>
			</div>


		</div>
	</div>
	<br style="clear: both;" /> 



<!--<div class="g7">-->
<!--	<div class="g7_7">-->
<!--		<div class="g7_7 pagetitle">-->
<!--			<div class="guideh1box">-->
<!--				<div class="rti">-->
<!--					<img src="/static/images/stop_r.png" />-->
<!--				</div>-->
<!--				<div class="titleXS rtt">-->
<!--					<h1><span>{{ stop.display_name }} - </span><span>{{ stop.name_mr }}</span></h1>-->
<!--					<div class="leading20"><!-- you can show or hide the blockquote, keep the div -->
<!--                        {% if stop.display_alt_names %}-->
<!--						<blockquote>-->
<!--                            {% for alt_name in stop.display_alt_names %}-->
<!--                                {{ alt_name.name }}{% if not forloop.last %}, {% endif %}-->
<!--                            {% endfor %}-->
<!--                            <span class="small right tred"><a href="#">Add local name&nbsp;</a></span></blockquote>-->
<!--                        {% endif %}-->
<!--					</div>-->
<!--					<!-- show the form from a fly-out, triggered by the link above-->
<!--					<form name="AltStopName">-->
<!--						<input class="AltStopName" type="text" name="Alternative stop name" value="Add local stop name" />-->
<!--						<input class="submit AltStopS" type="submit" value="Save" />-->
<!--						<br style="clear: both;" />-->
<!--					</form>-->
<!--					<p class="small tred">Your addition will be checked by the moderator.</p>
<!--				</div>-->
<!--			</div>-->
<!--		</div>
-->
<!--		<div class="g4_4 listextrainfo">-->
<!--			<img src="/static/images/area.png" />-->
<!--			<p class="small">&nbsp;{{ stop.road.display_name }} <span class="frequency">{{ stop.area.display_name }}</span></p>-->
<!--		</div>-->
<!--		<br style="clear: both;" /> -->
    <div class="g7">
        <div class="g7_7">
        <div class="maphome">
            <div id="map" style="width:100%;height:100%;"></div>
        </div>
    </div>
    <div class="leading40"></div>
</div>

<div class="g5">
<!--	<div class="g4_4 listextrainfo">
		<img src="/static/images/area.png" />
		<p class="small">&nbsp;{{ stop.road.display_name }} <span class="frequency">{{ stop.area.display_name }}</span></p>
	</div>
	<br style="clear: both;" />-->

    <div class="listheight">
	<div class="leading20"></div>
		<div class="g5_5 listtitle">
			<h2><img src="/static/images/bus.png" />Departing Routes</h2>
		</div>
		<div class="list">
			<!--
			<div class="g5_5 lightgreen">
				<form>
					<div class="g5_5"><input class="routecheckbox" type="checkbox" name="allbuses" checked="checked" value="All" /><label class="routecheckboxlabel">All</label></div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="Ordinary" /><label class="routecheckboxlabel">Ordinary</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="Limited" /><label class="routecheckboxlabel">Limited</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="Corridor" /><label class="routecheckboxlabel">Corridor</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="AC Expr." /><label class="routecheckboxlabel">AC Expr.</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="AC" /><label class="routecheckboxlabel">AC</label></div>
				</form>
			</div>
			-->
			<table name="stoppage_table" class="tablebase">
				<tr class="sublist">
					<th class="stop_number">
						<span class="charfix" alt="Route number" title="Route number">&#9702;</span>
					</th>
					<th class="stop_route" alt="Route filter" title="Route filter">
						<form name="filter_stop_route" class="listfilter_form">
							<input class="listfilter_input" type="text" name="stop_route" placeholder="Type first or last stop..." />
						</form>
					</th>
					<th class="stop_frequency">
						<span class="charfix" alt="Frequency" title="Frequency">&#10227;</span>
					</th>
				</tr>
				
                {% for route in stop.get_routes %}

				<tr class="listItem">
					<td><a href="{{ route.get_absolute_url }}" class="large" title=" Go to   route   {{ route.display_name }}">{{ route.display_name }}</td>
					<td>
						<span class="half"><b>{{ route.from_stop.display_name }}</b><br /><span>{{ route.from_stop.name_mr }}</span></span>
						<span class="half right"><b>{{ route.to_stop.display_name }}</b><br /><span>{{ route.to_stop.name_mr }}</span></span>
					</td>
					<td class="lightgrey small"><span class="right small">{% if route.headways %}{{ route.headways }} min.{% else %} Not running {% endif %}</span></td>
				</tr>
				
                {% endfor %}
                
			</table>
		</div>


    <div class="leading40"></div>
	<div class="g5_5">
		<div class="g5_5"> &nbsp;

		
			<!--<div class="listtitlesmall">
				<h3>Comments</h3>
			</div>
			<div class="comments" id="comments_list">
				<div class="comment_item">
					<div class="comment_user">
						indrani misra:
					</div>
					<div class="comment_content">
					Bani,
					Loved reading your article. What a lovely and meaningful experience between the banyan trees! I could picture it all. carry on with the great work that SRUTI is doing. Between the great economic and social divide...
					</div>
				</div>
			</div>
			<div class="leading20"></div>
			<div class="comments" id="comment_form">
				<h4 class="formHeader">Leave a comment</h4>
				<form action="/comments/post/" method="POST">
					<div style='display:none'>
						<input type='hidden' name="" value="" />
						<input type="hidden" name="next" value="" />
					</div>
					<div class="box">
						<label for="id_name">Name:</label>
						<div class="textbox"><input id="id_name" type="text" name="name" maxlength="50" /></div>
					</div>
					<div class="box">
						<label for="id_email">Email address:</label>
						<div class="textbox"><input id="id_email" type="text" name="email"  /></div>
					</div>
					<div class="box">
						<label for="id_url">URL:</label>
						<div class="textbox"><input id="id_url" type="text" name="url" /></div>
					</div>
					<div class="box">
						<label for="id_comment">Comment:</label>
						<div class="textbox"><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
					<div class="pot">
						<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>
						<input type="text" name="honeypot" id="id_honeypot" />
					</div>

					<div class="box right">
						<input type="hidden" name="content_type" value="emailer.emailerissue" id="id_content_type" />
						<input type="hidden" name="object_pk" value="" id="id_object_pk" />
						<input type="hidden" name="timestamp" value="" id="id_timestamp" />
						<input type="hidden" name="security_hash" value="" id="id_security_hash" />
						<div class="g9_3">&nbsp;</div>
						<div class="g9_gut"></div>
						<div class="g9_6"><input type="submit" id="id_submit" name="post" class="submit-post" value="Post"></div>
					</div>
				</form>
			</div>
			</div>-->
			
		</div>
		<div class="g7_gut"></div>
		<div class="g5_5">
			<table name="stop_nearby" class="tablebase">
				<tr class="sublist">
					<th>
						<img src="/static/images/stop.png" />
						<h3>Nearby Stops</h3>
					</th>
				</tr>
                {% for n in stop.nearby_stops %}
				<tr class="landing_row listItem">
					<td class="landing_area"><a href="{{ n.get_absolute_url }}"><b>{{ n.display_name }}</b><br /><span>{{ n.name_mr }}</span></a></td>
				<tr>
                {% endfor %}
			</table>
		</div>
	</div>
</div>



	</div>

	<div class="leading40"></div>
	<div class="leading40"></div>
</div>

{% endblock %}
