{% extends 'base.html' %}

{% block body %}
    <div id="stopListWrapper" class="listColumn">
        <h4>Nearby stops:</h4>
        <input class="listFilterInput" placeholder="Filter..." />
        <ul id="stopList">
            {% for s in stop.nearby_stops %}
                <li>
                    <a href="{{ s.get_absolute_url }}">{{ s.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="routeListWrapper" class="listColumn">
        <h4>Routes at stop:</h4>
        <input class="listFilterInput" placeholder="Filter..." />
            <ul id="routeList">
                {% for route in stop.routes %}
                <li>
                    <a href="{{ route.get_absolute_url }}">{{ route.alias }}</a>
                </li>

                {% endfor %}
            </ul>
    </div>
    <div id="areaListWrapper" class="listColumn">
        <h4>Nearby areas:</h4>
        <input class="listFilterInput" placeholder="Filter..." />
        <ul id="areaList">
            {% for area in stop.area.nearby_areas %}
                <li>
                    <a href="{{ area.get_absolute_url }}">{{ area.display_name }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>

    <div id="map"></div>


{% endblock %}
