Django==1.3
#-e svn+http://code.djangoproject.com/svn/django/trunk/#egg=django
-e bzr+http://code.0x2620.org/python-ox/#egg=python-ox
-e git+git://github.com/seatgeek/fuzzywuzzy.git#egg=fuzzywuzzy
-e git+git://github.com/bit/django-extensions.git#egg=django_extensions
#django_extensions
django-grappelli
-e git+git://github.com/schuyler/rapidsms.git#egg=rapidsms
-e git+git://github.com/schuyler/arrest.git#egg=arrest
