Django==1.4.1
RapidSMS==0.9.6a
-e git://github.com/schuyler/arrest.git@0017837a45bcb31786f953fba976d454ae684ecc#egg=arrest-dev
chardet==1.0.1
django-allauth==0.5.0
django-avatar==1.0.5
django-debug-toolbar==0.9.4
django-email-confirmation==0.2
-e git://github.com/bit/django-extensions.git@c495f97a1d37bf5d40508b8e0eb128ae9fa0a6b0#egg=django_extensions-dev
django-guardian==1.0.4
django-nose==1.1
django-profiles==0.2
django-sms==0.0.4
djappsettings==0.1.0
djtables==0.1.2
#facebook-python-sdk==0.1
-e git://github.com/jhaddad/facebook-python-sdk#egg=facebook-python-sdk
facebook-sdk==0.3.1
feedparser==5.1.2
-e git://github.com/seatgeek/fuzzywuzzy.git@c73e3d32e3bb4d31dc38cc64e3a3362855d4d249#egg=fuzzywuzzy-dev
httplib2==0.7.4
mock==0.8.0
nose==1.1.2
oauth2==1.5.211
-e bzr+http://code.0x2620.org/python-ox/@354#egg=ox-2.0.354-py2.7-dev_r354
#psycopg2==2.4.5
python-openid==2.2.5
wsgiref==0.1.2
