#Django==1.4.1
git+http://github.com/django/django.git@stable/1.5.x#egg=django
PIL==1.1.7
# RapidSMS==0.9.6a
South==0.7.5
-e git://github.com/schuyler/arrest.git@0017837a45bcb31786f953fba976d454ae684ecc#egg=arrest-dev
-e git://github.com/schuyler/rapidsms.git#egg=rapidsms
-e git://github.com/etianen/django-reversion.git#egg=reversion

chardet==1.0.1
django-allauth==0.5.0
django-avatar==1.0.5
django-debug-toolbar==0.9.4
django-email-confirmation==0.2
-e git://github.com/bit/django-extensions.git@c495f97a1d37bf5d40508b8e0eb128ae9fa0a6b0#egg=django_extensions-dev
django-grappelli==2.3.8
django-guardian==1.0.4
django-nose==1.1
django-profiles==0.2
django-registration==0.8
django-reversion==1.6.3
django-sms==0.0.4
django-socialregistration==0.5.4
#django-userena==1.1.2
django-userena
djappsettings==0.1.0
djtables==0.1.2
easy-thumbnails==1.0.3
feedparser==5.1.2
-e git://github.com/seatgeek/fuzzywuzzy.git@c73e3d32e3bb4d31dc38cc64e3a3362855d4d249#egg=fuzzywuzzy-dev
httplib2==0.18.0
mock==0.8.0
nose==1.1.2
oauth2==1.5.211
-e bzr+http://code.0x2620.org/python-ox/@354#egg=ox-2.0.354-py2.7-dev_r354
psycopg2==2.4.5
python-openid==2.2.5
simplejson==2.6.2
wsgiref==0.1.2
yolk==0.4.3

-e git://github.com/elevenbasetwo/django-cors.git#egg=cors
minidetector
