{% extends "base.html" %}

{% block extrahead %}
	<script type="text/javascript" src="http://scripts.embed.ly/embedly.js" ></script>

	<script type="text/javascript"> 
	// set custom embedly defaults
	// More customizations at http://api.embed.ly/tools/script
	var embedly_maxWidth = 600;
	var embedly_maxHeight = 600;
	</script>
{% endblock %}

{% block title %} {{ user.first_name }} {{ user.last_name }}{% endblock %}



{% block content %}

{{block.super}}

{% ifequal user profile.user  %}
	<p>
		<a href="{% url profiles_edit_profile %}" class="button blue">Edit my profile</a> 
		<a href="{% url profile_settings %}" class="button blue">Account settings</a> 
	</p>
{% endifequal %}


{# Reusable avatar code #}
{% include 'profiles/avatar.html' %}


<h2><a href="{% url list_view profile.user.username %}">{{ profile }}</a></h2>

<p class="smalltop" style="float:left;margin-right:70px;">
	{% if profile.city  %}
	{{ profile.city }}, {{ profile.state }}, {{ profile.country }} <br />
	{% endif %}

    {% if profile.allow_contact %}
    <a href="{% url contact_form profile.user %}">Contact {{ profile.user.first_name }} </a>
    <br />
    {% endif %}



    <a href="/feeds/people/{{profile.user}}"><img src="{{STATIC_URL}}images/feed-icon-14x14.png" width="12" height="12" alt="Feed Icon 14x14"> <span class="minor">{{profile.user.first_name}}'s feed</span></a>
</p>




<div class="clear"></div>


{% if profile.about %}

	<div id="oembed" class="profile">
		{{profile.about|safe}}
	</div>
	
{% else %}
	<p style="margin-top:10px;">No profile information available</p>
{% endif %}
</p>


{% if profile.twitter %}
	<p><strong>Twitter:</strong>
    <a href="http://twitter.com/{{ profile.twitter }}">{{ profile.twitter }}</a>
	</p>
{% endif %}



{% if profile.facebook %}
	<p><strong>Facebook:</strong>
    <a href="http://facebook.com/{{ profile.facebook }}">{{ profile.facebook }}</a>
	</p>
{% endif %}


{% if profile.fax %}
<p><strong>Fax:</strong><br>
{{ profile.fax }}
</p>
<p><strong>Hello!!</strong></p>
{% endif %}

{% endblock content %}

