{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
{% endblock %}


{% block title %}{{ profile.user.username }}'s {% trans "profile" %}.{% endblock %}
{% block content_title %}<h2 class="content-title">{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}


    {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
    {% if user.username == profile.user.username %}
    <ul id="profile-nav">
        <li class="selected"><a href="{% url "userena_profile_detail" user.username %}">{% trans "View profile" %}</a></li>
        <li><a href="{% url "userena_profile_edit" user.username %}">{% trans "Edit details" %}</a></li>
        <li><a href="{% url "userena_password_change" user.username %}">{% trans "Change password" %}</a></li>
        <li><a href="{% url "userena_email_change" user.username %}">{% trans "Change email" %}</a></li>
    </ul>
    {% endif %}

    <div id="details">
        <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        {% if profile.user.get_full_name %}
        <p><strong>{% trans "Name" %}</strong><br /> {{ profile.user.get_full_name }}</p>
        {% endif %}
        {% if profile.age != 0 %}
        <p><strong>{% trans "Age" %}</strong><br /> {{ profile.age }}</p>
        {% endif %}
	{% if profile.mobile_number %}
	<p><strong>{% trans "Mobile Number" %}</strong><br />{{ profile.mobile_number }}</p>
	{% endif %}
        {% if profile.website %}
        <p><strong>{% trans "Website" %}</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
        {% endif %}
        {% if profile.location %}
        <p><strong>{% trans "Location" %}</strong><br />{{ profile.location }}</p>
        {% endif %}
        {% if profile.about_me %}
        <p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me }}</p>
        {% endif %}
	{% if profile.mobile_number %}
	</div>
	<div id = "uppersms">
	 <p><strong>{% trans "SMS Feed" %}</strong><br /></p>

	<div id ="sms">
       		<input type="hidden" id="phno" name="variable" value="{{ profile.mobile_number }}">
		<ul> 
		<script type="text/javascript">
			var phno =  document.getElementById("phno").value;
			$.getJSON("http://sms.chalobest.in/messages_json/?phone_no="+phno, function(data){
				if (data.length != 0){
    				$.each(data, function (index, value) {
        				//console.log(value);
					
					$("#sms").append("<div><p><li> <h3>Date Sent: "+value.datetime+"</h3> <p>Direction : "+value.direction+" </p><p>Text  :" +value.text+"</p></li></p></div>")
    				        $("#sms").accordion();
				});
				}
				else
				{
					$("#sms").append("<p> Error retrieving your sms data, May be you have not sent a sms yet. Please try sending one at 9619524420. For more details see here.</p>")
				}
    				});
		 
		</script>	
	</p>	
	
	</ul>
	{% endif %}
    </div>
   </div> 

{% endblock %}
