@charset "UTF-8";
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
[lang="hi"] {
  font-size: 120%; }

a {
  color: inherit; }
  a:hover {
    color: #d43b39; }

#map {
  height: 500px;
  border-left: 10px solid #444444;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

header h1 {
  border-top: 2px solid black;
  padding: 40px 0 0;
  margin: 0;
  line-height: 110%; }
  header h1 .place {
    font-size: 60%;
    opacity: 0.8; }
header h2.subheader {
  background-color: #444444;
  padding: 10px 40px;
  margin: 0;
  margin: 0; }
header .id {
  opacity: 0.5;
  margin: 10px 0 0; }
  header .id:hover {
    opacity: 1; }
  header .id a {
    display: inline-block;
    color: inherit;
    vertical-align: bottom; }
  header .id #slug {
    float: right; }
    header .id #slug:before {
      content: "http://chalobest.in/go/"; }
    header .id #slug img {
      width: 30px;
      margin-left: 10px; }
  header .id #stop-id {
    padding: 2px 4px; }
    header .id #stop-id.best {
      color: black; }
      header .id #stop-id.best:before {
        content: "BEST:";
        color: #d43b39; }

.container > div {
  border-bottom: 20px solid #444444;
  background-color: #444444; }

aside {
  font-size: 70%; }
  aside > h6 {
    padding-top: 5px;
    margin: 0;
    color: white;
    opacity: 0.8; }
  aside ul {
    margin-bottom: 20px; }
    aside ul .subheader {
      margin: 0;
      color: white;
      opacity: 0.5; }
    aside ul li {
      color: white;
      list-style-type: none;
      font-size: 120%; }
      aside ul li span:last-child {
        float: right; }
        aside ul li span:last-child:after {
          content: " min";
          opacity: 0.5; }

aside .route {
  font-weight: bold;
  background-color: #eee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 6px;
  margin-left: 2px;
  color: #d43b39; }

article h3 {
  color: #d43b39; }

/* Route details */
#route-list > li {
  margin-bottom: 10px; }
  #route-list > li .route {
    -moz-box-shadow: 0px 1px 2px #333333;
    -webkit-box-shadow: 0px 1px 2px #333333;
    box-shadow: 0px 1px 2px #333333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #111111;
    color: white;
    padding: 10px; }
    #route-list > li .route [lang="hi"] {
      margin-right: 10px;
      opacity: 0.8; }
  #route-list > li .service {
    margin-left: 10px;
    font-weight: normal; }
  #route-list > li ul {
    border-bottom: 2px solid black;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: 1px 5px; }
    #route-list > li ul li {
      list-style-type: none;
      line-height: 90%; }
    #route-list > li ul li:nth-child(2) span {
      display: inline-block;
      margin-bottom: 5px; }
    #route-list > li ul li:nth-child(2) [lang="hi"]:before {
      content: "रूट ";
      color: #d43b39; }
    #route-list > li ul li:nth-child(2) [lang="en"]:before {
      content: "via ";
      color: #d43b39; }

/* Footer */
footer {
  background-color: #eee;
  margin-top: 20px;
  border-top: 2px solid #ccc;
  padding: 10px; }

#chalobest h3 img {
  float: left;
  width: 54px;
  height: 54px;
  margin-right: 20px;
  border: none; }
#chalobest h3 [lang="hi"] {
  margin-right: 10px; }
#chalobest a {
  color: black;
  font-size: 40%; }
  #chalobest a [lang="hi"] {
    opacity: 0.5; }
#chalobest .sms {
  color: #d43b39;
  margin: 0 5px;
  padding: 3px 8px;
  border: 1px solid #ccc;
  min-width: 100px;
  background-color: #ddd;
  display: inline-block; }

#source {
  font-size: 40%;
  opacity: 0.5; }
  #source a {
    color: inherit;
    font-weight: bold; }
  #source span {
    opacity: 0.8; }
