@import "_settings";
$block-grid-default-spacing: 10px;
$accent:#D43B39;
$mute1:#444;
$mute2:#666;

$opacity1:0.8;
$opacity2:0.5;

$best-red:#D43B39;
$best-route-ltd:#D43B39;
$best-ac:#D43B39;
$best-route:#111;

@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}
@mixin rounded-corners($amount: 5px){
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

[lang="hi"]{
    font-size:120%;
}

#map { 
    height: 500px;
    border-left: 10px solid $mute1; 
    @include rounded-corners(5px);
}


header{
    h1{
     //background-color:$accent;
     color:$accent;
     padding:20px 0;
     margin:0;
     line-height:110%;
     font-size:300%;
     small{
        color:inherit;
        opacity:0.8;
    }
}
h2.subheader{
    background-color:$mute1;
    padding:10px 40px;
    margin:0;
    margin:0;
}
.id{
    opacity:$opacity2;
    margin:10px 0 0;
    border-bottom: 4px solid $accent;
    &:hover{
        opacity:1;
    }
    a{  
        display: inline-block;
        color:inherit;
        vertical-align: bottom;
    }
    #slug{
        float:right;
        &:before{
            content:"http://chalobest.in/go/";
        }
        img{
            width:40px;
            margin-left:10px;
        }

    }
    #stop-id{
        padding:2px 4px;
        &.best{
            color:black;
            &:before{
                content: "BEST:";
                color:$best-red;
            }
        }
    }
}
}


.container>div{
    border-bottom:20px solid $mute1;
    background-color:$mute1;
}

aside{
    font-size:70%;
    &>h6{
       padding-top:5px;
       margin:0;
       color:white;
       opacity:$opacity1;
   }
   ul{
    margin-bottom:20px;
    .subheader{
        margin:0;
        color:white;
        opacity:$opacity2; 
    }
    li{
        color:white;
        list-style-type:none;
        font-size:120%;
        span:last-child{
            float:right;
            &:after{
                content:" min";
                opacity:$opacity2;
            }
        }
    }
}
}
aside .route{
    font-weight:bold;
    background-color:#eee;
    @include rounded-corners(4px);
    padding:2px 6px;
    margin-left:2px;
    color:$best-red;
}

article{
    h3{
        color:$accent;
    }
}

/* Route details */
#route-list>li{
    header{
        .route{
            @include shadow;
            @include rounded-corners(10px);
            background-color:$best-route;
            color:white;
            padding:10px;
            [lang="hi"]{
             margin-right:10px;
             opacity:0.8;
         }
     }
 }

 ul{
    border-left:2px solid $best-red;
    @include rounded-corners(0px);
    margin:1px 5px;
    padding:2px 30px;
    li{
        list-style-type:none;
        line-height:90%;
    }
    li:nth-child(2){
        list-style-type:none;
    }
}
}



/* Footer */
footer{
    background-color:#eee;
    margin-top:20px;
    border-top:2px solid #ccc;
    padding:10px;
}

#chalobest{
    h3{
        img{
            float:left;
            width:54px;
            height:54px;
            margin-right:20px;
            border:none;
        }
        [lang="hi"]{margin-right: 10px;}
    }
    a{ 
        color:black;
        font-size: 40%;
        [lang="hi"]{
            opacity:$opacity2;
        }
    }
    .sms{
        color:$best-red;
        margin: 0 5px;
        padding:3px 8px;
        border:1px solid #ccc;
        min-width:100px;
        background-color: #ddd;
        display: inline-block;
    }
}

#source{
    font-size: 40%;
    opacity:$opacity2;
    a{
        color:inherit;
        font-weight: bold;
    }
    span{
        opacity:$opacity1;
    }
}