#map {
  height: 400px; }

#route-list > li header {
  -moz-box-shadow: 0px 1px 2px #333333;
  -webkit-box-shadow: 0px 1px 2px #333333;
  box-shadow: 0px 1px 2px #333333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #d43b39;
  margin: 0 -3px; }
  #route-list > li header h2 {
    color: white; }
    #route-list > li header h2 small {
      color: #eee; }
#route-list > li ul {
  background-color: #eee;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin: 1px 5px;
  padding: 2px 30px; }
  #route-list > li ul li {
    list-style-type: none;
    line-height: 70%; }
  #route-list > li ul li:nth-child(2) {
    list-style-type: none; }
