<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>
            Bus Routes from Nehru Planetarium, Worli - ChaloBEST
        </title>
        <link href="vendor/foundation-4/css/foundation.css" media="all" rel="stylesheet"
        type="text/css" />
        <link href="css/style.css" media="all" rel="stylesheet" type="text/css"
        />
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css"
        />
    </head>
    
    <body>
        <div class="container">
            <header class="row">
                
                <h1>
                    <div lang="hi">
                        नेहरु तारांगण
                    </div>
                    <div lang="en">
                        NEHRU PLANETARIUM
                    </div>
                </h1>
                

                <h2 class="subheader large-9 columns">
                    <div lang="hi">
                        डॉ. अॅन्नी बेझंट मार्ग
                    </div>
                    <div lang="en">
                        DR. ANNIE BESANT MARG (WORLI)
                    </div>
                </h2>
                <div class="large-3 columns">
                    
                    <a id="slug" href="#"><img src=""><i>Powered by</i> <span href="#">1332</span>
                    <h6><span class="best" id="stop-id">1332</span></h6>
                </a>
                </div>

            </header>
            <div class="row">
                <div class="large-9 columns" id="map">
                </div>
                <aside class="large-3 columns">
                    
                        <h6>
                            <div lang="hi">
                                यहां से पैदल दूरी
                            </div>
                            <div lang="en">
                                WALKING DISTANCE FROM HERE
                            </div>
                        </h6>
                        <ul>
                        <h6 class="subheader">
                            <span lang="hi">
                                बस स्टॉप
                            </span>
                            <span lang="en">
                                BUS STOPS
                            </span>
                        </h6>
                        <li>
                            Vidhan Sabha
                            <span>
                                10
                            </span>
                        </li>
                        <li>
                            Vidhan Sabha
                            <span>
                                10
                            </span>
                        </li>
                        <li>
                            Vidhan Sabha
                            <span>
                                10
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <h6 class="subheader">
                            <span lang="hi">
                                रेलवे स्टेशन
                            </span>
                            <span lang="en">
                                RAILWAY STATIONS
                            </span>
                        </h6>
                        <li>
                            Churchgate
                            <span class="route ltd">
                                21
                            </span>
                            <span class="route ac">
                                23
                            </span>
                            <span>
                                10
                            </span>
                        </li>
                        <li>
                            CST
                            <span>
                                10
                            </span>
                        </li>
                        </ul>
                    <ul>
                        <h6 class="subheader">
                            <span lang="hi">
                                स्थानों
                            </span>
                            <span lang="en">
                                LANDMARKS
                            </span>
                        </h6>
                        <li>
                            Churchgate
                            <span class="route best ltd">
                                21
                            </span>
                            <span class="route best ac">
                                23
                            </span>
                            <span>
                                10
                            </span>
                        </li>
                        <li>
                            CST
                            <span>
                                10
                            </span>
                        </li>
                    </ul>
                </aside>
            </div>
            <article class="row">
                <h3>
                    <span lang="hi">
                        बस मार्गों
                    </span>
                    <span lang="en">
                        BUS ROUTES
                    </span>
                </h3>
                <ul class="large-block-grid-2" id="route-list">
                    <li>
                        <header class="row">
                            <h4 class="large-8 columns">
                                <span class="route best ltd">21</span>
                                <small>
                                    LTD
                                </small>
                            </h4>
                            <div class="large-4 columns">
                                <span>
                                    Every 20 minutes
                                </span>
                            </div>
                        </header>
                        <ul>
                            <li>
                                <h5>
                                    <span lang="hi">
                                        मंत्रालय
                                    </span>
                                    <span lang="en">
                                        Mantralaya
                                    </span>
                                </h5>
                            </li>
                            <li lang="hi">
                                <small>
                                    रूट
                                </small>
                                मंत्रालय, मंत्रालय, मंत्रालय
                            </li>
                            <li lang="en">
                                <small>
                                    via
                                </small>
                                Worli, Santa Cruz, Dadar, Bandra, Worli
                            </li>
                            <li>
                                <h5>
                                    <span lang="hi">
                                        मंत्रालय
                                    </span>
                                    <span lang="en">
                                        World Trade Center
                                    </span>
                                </h5>
                            </li>
                        </ul>
                    </li>
                </ul>
            </article>
            <footer class="row">
            </footer>
        </div>
        <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js">
                
        </script>
        <script src="vendor/jquery.js">
                
        </script>
        <script>
                        $(document).ready(function() {
                            for(i=0;i<6;i++){
                    $("#route-list>li:first-child").clone().appendTo("#route-list");}


                });


                var map = L.map('map').setView([18.99, 72.815], 17);
                L.tileLayer('http://{s}.tile.cloudmade.com/2b4cf70bfc314bc781c3889b3da6b585/997/256/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                    maxZoom: 18
                }).addTo(map);
        </script>
    </body>

</html>