{% extends 'innov/base.html' %}
{% block extra_head %}
<script>
$(function() {
    var slug = "{{ area.slug }}";
    var url = "/1.0/area/" + slug;
    $.getJSON(url, {}, function(data) {
        loadStopsGeojson(data.stops);
        var bounds = jsonLayer.getBounds();
        map.fitBounds(bounds);
    });

});
</script>
{% endblock %}

{% block content %}

<div class="leading10"></div>
<div class="g12">
	<div class="g12_12 search">
        {% include 'innov/guidesearch_form.html' %}
	</div>
</div>

<div class="g6">
	<div class="g6_6">
		<div class="g6_6 pagetitle">
			<img src="/static/img/area_r.png" />
			<div class="areatitle">
				<h1><span>{{ area.name }} - &nbsp;</span><span>{{ area.name_mr }}</span></h1>
			</div>
		</div>
		<br style="clear: both;" />
		<div class="maphome">
            <div id="map" style="width:90%;height:90%;"></div>
		</div>
	</div>
	<div class="leading40"></div>
	<div class="g6_6">
					<div class="listtitlesmall">
				<h3>Comments</h3>
			</div>
			<div class="comments" id="comments_list">
				<div class="comment_item">
					<div class="comment_user">
						indrani misra:
					</div>
					<div class="comment_content">
					Bani,
					Loved reading your article. What a lovely and meaningful experience between the banyan trees! I could picture it all. carry on with the great work that SRUTI is doing. Between the great economic and social divide...
					</div>
				</div>
			</div>
			<div class="leading20"></div>
			<div class="comments" id="comment_form">
				<h4 class="formHeader">Leave a comment</h4>
				<form action="/comments/post/" method="POST">
					<div style='display:none'>
						<input type='hidden' name="" value="" />
						<input type="hidden" name="next" value="" />
					</div>
					<div class="box">
						<label for="id_name">Name:</label>
						<div class="textbox"><input id="id_name" type="text" name="name" maxlength="50" /></div>
					</div>
					<div class="box">
						<label for="id_email">Email address:</label>
						<div class="textbox"><input id="id_email" type="text" name="email"  /></div>
					</div>
					<div class="box">
						<label for="id_url">URL:</label>
						<div class="textbox"><input id="id_url" type="text" name="url" /></div>
					</div>
					<div class="box">
						<label for="id_comment">Comment:</label>
						<div class="textbox"><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
					<div class="pot">
						<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>
						<input type="text" name="honeypot" id="id_honeypot" />
					</div>
					<div class="box right">
						<input type="hidden" name="content_type" value="emailer.emailerissue" id="id_content_type" />
						<input type="hidden" name="object_pk" value="" id="id_object_pk" />
						<input type="hidden" name="timestamp" value="" id="id_timestamp" />
						<input type="hidden" name="security_hash" value="" id="id_security_hash" />
						<div class="g9_3">&nbsp;</div>
						<div class="g9_gut"></div>
						<div class="g9_6"><input type="submit" id="id_submit" name="post" class="submit-post" value="Post"></div>
					</div>
				</form>
			</div>
			</div>
	</div>
</div>

<div class="g2">
	<div class="g2_2 height">
		<div class="g2_2 listtitle">
			<img src="/static/img/stop.png" />
			<h3 class="stop">Stops</h3>
		</div>
		<div class="leading10"></div>
		<div class="list">
			<table name="landing_area" class="landing_table">
				<tr class="listtitlesmall">
					<th>
						<img src="/static/img/stop.png" />
					</th>
				</tr>
				<tr class="listfilter">
					<td>
						<form name="filter_home_area" class="listfilter_form">
							<input class="listfilter_input" type="text" name="filter list" value="Type stop name..." />
						</form>
					</td>
				</tr>
                {% for stop in stops %}

				<tr class="landing_row">
					<td class="landing_area"><a href="{{ stop.get_absolute_url }}"><b>{{ stop.name }}</b><br /><span>{{ stop.name_mr }}</span></a></td>
				<tr>
                {% endfor %}

			</table>
		</div>
	</div>
</div>
<div class="g4">
	<div class="g4_4 height">
		<div class="g4_4 listtitle">
			<img src="/static/img/bus.png" />
			<h3>Passing Routes</h3>
		</div>
		<div class="leading10"></div>
		<div class="list">
			<div class="g5_5 lightgreen">
				<form>
					<div class="g5_5"><input class="routecheckbox" type="checkbox" name="allbuses" checked="checked" value="All" /><label class="routecheckboxlabel">All</label></div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="Ordinary" /><label class="routecheckboxlabel">Ordinary</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="Limited" /><label class="routecheckboxlabel">Limited</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="Corridor" /><label class="routecheckboxlabel">Corridor</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="AC Expr." /><label class="routecheckboxlabel">AC Expr.</label></div>
					<div class="g5_gut">&nbsp;</div>
					<div class="g5_1"><input class="routecheckbox" type="checkbox" name="bustype[]" disabled="disabled" value="AC" /><label class="routecheckboxlabel">AC</label></div>
				</form>
			</div>
			<table name="stoppage_table" class="stoppage_table">
				<tr class="listtitlesmall">
					<th class="stop_number">
						<!-- <form name="filter_stop_number" class="listfilter_form">
							<input class="listfilter_input" type="text" name="stop_number" value="Route #..." />
						</form> -->
					</th>
					<th class="stop_route">
						<form name="filter_stop_route" class="listfilter_form">
							<input class="listfilter_input" type="text" name="stop_route" value="Type first or last stop..." />
						</form>
					</th>
				</tr>
                {% for route in area.routes_passing %}
				<tr>
					<td><a href="{{ route.get_absolute_url }}">{{ route.alias }}</td>
					<td>
                       <a href="{{ route.from_stop.get_absolute_url }}">
                            <span class="half"><b>{{ route.from_stop.name }}</b><br /><span>{{ route.from_stop.name_mr }}</span></span>
                        </a>
                        <a href="{{ route.from_stop.get_absolute_url }}">
						    <span class="half right"><b>{{ route.to_stop.name }}</b><br /><span>{{ route.to_stop.name_mr }}</span></span>
                        </a>
                    </td>
				</tr>
                {% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}
