<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />
	
<title>ChaloBEST</title>



{% block leaflet_head %}

{% endblock %}

<!-- Included CSS Files -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/content.css" />
<link rel="stylesheet" href="/static/select2/select2.css" />
<link rel="stylesheet" href="/static/leaflet/leaflet.css" />
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/leaflet/leaflet.js"></script>
<script src="/static/select2/select2.js"></script>
<script src="/static/js/best_map.js"></script>
{% if request.mobile %}
<style type="text/css">
    .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: black;
        background: rgba(0,0,0,0.7);
        display: none;
        z-index: 20000; /* given so it's the topmost div */
    }
    
    .lightBoxBlock {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .lightBox {
        background: white;
        padding: 10px;        
        position: relative;
    }
    
    .closeLightBox {
        position: absolute;
        right: -10px;
        top:-10px;
    }

    .openLightBox, .closeLightBox {
        background: yellow;
        padding: 4px;
    }
    
</style>



<script type="text/javascript">
    $(document).ready(function(){

        
        $('.closeLightBox').click(function(event){
            event.preventDefault();
            $('.overlay').hide(300);
            $(window).unbind("resize");            
        });
        
        $('.overlay').click(function(){ 
            $('.overlay').hide(300);   
            $(window).unbind("resize");         
        });
        
        $('.lightBox').click(function(event){
            event.stopPropagation();  
        });
        

    });
</script>

{% endif %}

<script>
{% if request.mobile %}
var isMobile = true;
{% else %}
var isMobile = false;
{% endif %}

$(function() {
    {% comment %}
    This is a bit of a hack - if it is not a mobile phone, do select2 autocomplete, else click handler on Go button
    {% endcomment %}
    {% if not request.mobile %}
    $('#autocomplete_all').select2({
            ajax: {
                'url': '/autocomplete/',
                dataType: 'json',
                quietMillis: 100,
                data: function(term, page) {
                    return {
                        q: term,
                        page_limit: 10,
                        page: page
                    }
                },
                results: function(data, page) {
                    var more = data.has_next;
                    return {results: data.items, more: more};
                }
            },
            minimumInputLength: 2,
            formatResult: function(item) {
                return "<div><span class='itemType'>" + item.type + ": </span><span class='itemName'>" + item.title + "</span></div>"
            },
            formatSelection: function(item) {
                location.href = item.url;
                //place_geojson.properties.feature_code_name = item.name; //FIXME: please look through select2 docs and move to an onSelect type callback, but this works for now.
                return item.type + ": " + item.title;           
                //return "<div data-id='" + item.id + "'>" + item.first_name + " " + item.last_name + "</div>";
            }
        });
    {% else %}
    $('#mobileGo').click(function(e) {
        e.preventDefault();
        var q = $('#autocomplete_all').val();
        var url = "/autocomplete/";
        $('#lightboxContent').html("Loading...");
        $('.overlay').show(300, function(){
            $(window).resize(function() {
    
                if ($(window).height() < $('.lightBox').height())
                {            
                    $('.overlay').css({'position':'absolute', 'height':'auto'});
                } else {
                    $('.overlay').css({'position':'', 'height':''});
                }            
            });

            $(window).resize();
        });           
        $.getJSON(url, {'q': q}, function(data) {
            //console.log(data);
            $('#lightboxContent').empty();
            var $ul = $('<ul />').addClass("searchResults").appendTo("#lightboxContent");
            for (var i=0; i<data.items.length; i++) {
                var item = data.items[i];
                var $row = getRow(item).appendTo($ul);
                $row.appendTo($ul);
            }
        });
    });

    function getRow(item) {
        var $li = $('<li />').addClass("resultItem");
        var $a = $('<a />').attr("href", item.url).appendTo($li);
        var resultText = item.type + ": " + item.title;
        var $content = $("<div />").addClass("resultContent").html(resultText).appendTo($a);
        return $li;
    }


    {% endif %}
});
</script>
{% block extra_head %}

{% endblock %}


</head>

<body>
{% block lightbox %}
{% if request.mobile %}
<div class="overlay">
    <div class="lightBoxBlock">
        <div class="lightBox">
            <div id="lightboxContent">
                Loading...
            </div>
            
        <a href="" class="closeLightBox">CLOSE</a>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block header %}
<div class="nav">
	<div class="g12_12">
		<div class="logoimg lightgreen"> </div>
		<div class="global banner">
			<div class="logotext"><img src="/static/images/chalobesttextlogo.png" /></div>
			<div class="globallinks">
				<ul class="navlink">
					<li><span class="small"><a href="/accounts/signin">login</a> / <a href="/accounts/signup">sign-up</a></span></li>
				</ul>
			</div> </div>
		<div class="navprimary lightgreen">
			<ul class="navlink">
				<!-- <li><a href="/android" class="sms small">Android</a></li> -->
				<li><a href="/sms" class="sms small">SMS</a></li>
				<!-- <li class="tripli"><a href="http://trip.chalobest.in" class="trip small">Trip planner</a></li> -->
				<!-- <li class="tripli"><a href="/" class="trip small selected">Bus Guide</a></li> -->
			</ul>
		</div>
		<div class="g8_gut"></div>
	</div>
</div>
<div class="g12_12 yellow rim">&nbsp;</div>
{% endblock %}

{% block content %}


{% endblock %}


{% block footer %}

<div class="g12 foot">
	<ul>
		<li><a href="/about" class="small">About ChaloBEST</a></li>
		<li><a href="/contact" class="small">Contact us</a></li>
		<li><a href="http://wiki.chalobest.in" class="small">Project Wiki</a></li>
		<li><a href="http://code.camputer.org/chaloBEST" class="small">Code Repository</a></li>
		<li><a href="/join_us" class="small">Join the Team</a></li>

	</ul>
	<div class="right">
		<img src="/static/images/twitter-icon.png" />
		<img src="/static/images/facebook-icon.png" />
		<p class="small">Join us @</p>
	</div>
</div>

{% endblock %}


</body>

</html>
