<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />
	
<title>ChaloBEST</title>

<script src="/static/js/jquery-1.7.1.min.js"></script>

{% block leaflet_head %}

{% endblock %}

<!-- Included CSS Files -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/content.css">

{% block extra_head %}

{% endblock %}


</head>

<body>

{% block header %}
<div class="nav">
	<div class="g12_12">
		<div class="logoimg lightgreen"> </div>
		<div class="global banner">
			<div class="logotext"><img src="/static/images/chalobesttextlogo.png" /></div>
			<div class="globallinks">
				<ul class="navlink">
					<li><span class="small"><a href="/accounts/signin">login</a> / <a href="/accounts/signup">sign-up</a></span></li>
				</ul>
			</div> </div>
		<div class="navprimary lightgreen">
			<ul class="navlink">
				<!-- <li><a href="/android" class="sms small">Android</a></li> -->
				<li><a href="/sms" class="sms small">SMS</a></li>
				<!-- <li class="tripli"><a href="http://trip.chalobest.in" class="trip small">Trip planner</a></li> -->
				<!-- <li class="tripli"><a href="/" class="trip small selected">Bus Guide</a></li> -->
			</ul>
		</div>
		<div class="g8_gut"></div>
	</div>
</div>
<div class="g12_12 yellow rim">&nbsp;</div>
{% endblock %}

{% block content %}


{% endblock %}


{% block footer %}

<div class="g12 foot">
	<ul>
		<li><a href="/about" class="small">About ChaloBEST</a></li>
		<li><a href="/contact" class="small">Contact us</a></li>
		<li><a href="http://wiki.chalobest.in" class="small">Project Wiki</a></li>
		<li><a href="http://code.camputer.org/chaloBEST" class="small">Code Repository</a></li>
		<li><a href="/join_us" class="small">Join the Team</a></li>

	</ul>
	<div class="right">
		<img src="/static/images/twitter-icon.png" />
		<img src="/static/images/facebook-icon.png" />
		<p class="small">Join us @</p>
	</div>
</div>

{% endblock %}


</body>

</html>
