{% extends 'innov/base.html' %}
{% block content %}

<div class="g3">
</div>

<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">
		<h1>ChaloBEST - Contact Us</h1>
		<p>Drop a line in the form below.</p>
		<form name="contactus">
			<label for="name">Your name</label><input class="tripinput" type="text" name="name" id="name" value="" />
			<label for="email">Your e-mail</label><input class="tripinput" type="text" name="email" id="email" value="" />
			<label for="message">Your message</label><textarea class="tripinput" type="text" name="message" id="message" value=""></textarea>
			<input class="submit" type="submit" value="Send message" />
			<br style="clear: both;" />
		</form>
	</div>
	<div class="leading40"></div>
</div>
<div class="g3">
	<div class="g3_3 ">
		<div class="highlight">
			<h2>ChaloBEST newsletter</h2>
			<div class="leading20"></div>
			<p class="small">Sign up for our newsletter</p>

		</div>
	</div>
</div>
</div>

{% endblock %}
