{% extends 'innov/base.html' %}

{% block extra_head %}
<script>

$(function() {
    //Get user current location
    navigator.geolocation.getCurrentPosition(function(loc) {
        //on success load stops near user's latlng
        var coords = loc.coords;
        var latlng = new L.LatLng(coords.latitude, coords.longitude);
        
//        map.setView(latlng, 15);
        loadStops(latlng);
    }, function(err) {
        //if user denies location info, load stops for center point 
        var center = map.getCenter();
        loadStops(center);
    });

    map.on("moveend", function(e) {
        //if user moves map, get stops for new center
        var latlng = map.getCenter();
        loadStops(latlng);
    });

});

//Load stops near latlng and render on map
function loadStops(latlng) {
    var bbox = map.getBounds()
    if (!bbox.contains(latlng)) {
        latlng = map.getCenter();
    }
    map.setView(latlng, 15);
    var url = "/1.0/stops_near/";
    var params = {
        'center_lat': latlng.lat,
        'center_lon': latlng.lng
    };  
    $.getJSON(url, params, function(data) {
        loadStopsGeojson(data); //defined in best_map.js
     });   
}

</script>

{% endblock %}

{% block content %}

<div class="g9 ">

<!--
	<div class="leading40"></div>
-->
	<div class="leading10"></div>
	<div class="g9_9 white">
		<div class="g9_9 search">
            {% include 'innov/guidesearch_form.html' %}

		</div>
		<div class="leading20"></div>
		<div class="searchbar">
			<ul>
				<li><img class="statsImg" src="/static/images/area.png" >AREAS <span class="statistics">{{ counts.areas }} <br /><span class="overline">areas</span></span></li>
				<li><img class="statsImg" src="/static/images/stop.png" >STOPS<span class="statistics">{{ counts.stops }} <br /><span class="overline">stops</span></span></li>
				<li><img class="statsImg" src="/static/images/bus.png" >ROUTES<span class="statistics">{{ counts.routes }} <br /><span class="overline">routes</span></span></li>
			</ul>
		</div>
		<div class="leading20"></div>
		<div class="g9_9 maphome">
            <div class="landingmap" id="map"></div>
		</div>
		<br style="clear: both;" />
	</div>
	
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="g9_9">&nbsp;
	<!--
		<div class="listtitlesmall">
			<h3>Comments</h3>
		</div>
		<div class="comments" id="comments_list">
			<div class="comment_item">
				<div class="comment_user">
					indrani misra:
				</div>
				<div class="comment_content">
					Bani,
					Loved reading your article. What a lovely and meaningful experience between the banyan trees! I could picture it all. carry on with the great work that SRUTI is doing. Between the great economic and social divide...
				</div>
			</div>
		</div>
		<div class="leading20"></div>
		<div class="comments" id="comment_form">
			<h4 class="formHeader">Leave a comment</h4>
			<form action="/comments/post/" method="POST">
				<div style='display:none'>
					<input type='hidden' name="" value="" />
					<input type="hidden" name="next" value="" />
				</div>
				<div class="box">
					<label for="id_name">Name:</label>
					<div class="textbox"><input id="id_name" type="text" name="name" maxlength="50" /></div>
				</div>
				<div class="box">
					<label for="id_email">Email address:</label>
					<div class="textbox"><input id="id_email" type="text" name="email"  /></div>
				</div>
				<div class="box">
					<label for="id_url">URL:</label>
					<div class="textbox"><input id="id_url" type="text" name="url" /></div>
				</div>
				<div class="box">
					<label for="id_comment">Comment:</label>
					<div class="textbox"><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
				<div class="pot">
					<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>
					<input type="text" name="honeypot" id="id_honeypot" />
				</div>
				<div class="box right">
					<input type="hidden" name="content_type" value="emailer.emailerissue" id="id_content_type" />
					<input type="hidden" name="object_pk" value="" id="id_object_pk" />
					<input type="hidden" name="timestamp" value="" id="id_timestamp" />
					<input type="hidden" name="security_hash" value="" id="id_security_hash" />
					<div class="g9_3">&nbsp;</div>
					<div class="g9_gut"></div>
					<div class="g9_6"><input type="submit" id="id_submit" name="post" class="submit-post" value="Post"></div>
				</div>
			</form>
		</div>
		</div> -->
	</div>
</div>
<!-- 
<div class="g3">
	<div class="g3_3">
		<div class="tripplanner">
			<h2>Trip planner</h2>
			<div class="tripform">
				<form name="homeOTPsearch">
					<input class="tripinput" type="text" name="from" value="Type departure location" />
					<input class="tripinput" type="text" name="to" value="Type arrival location" />
					<input class="submit" type="submit" value="Search" />
					<br style="clear: both;" />
				</form>
			</div>
		</div>
	</div>
</div>
 -->
<div class="g3">
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
</div>
<div class="g3">
	<div class="leading20"></div>
	<div class="g3_3 height">
		<div class="g3_3 list">
			<table name="landing_area" class="landing_table">
				<!-- probably will omit this title box completely.			
				<tr class="listtitlesmall">
					<th>
						<img src="/static/images/area.png" />
						<h3>Areas</h3>
					</th>
				</tr>
				-->
				<tr class="listfilter">
					<td>
						<form name="filter_home_area" class="listfilter_form">
							<input class="listfilter_input" type="text" name="filter list" value="Type to filter, select below..." />
						</form>
					</td>
				</tr>
                {% for area in areas %}

				<tr class="landing_row">
					<td class="landing_area"><a href="{{ area.get_absolute_url }}"><b>{{ area.display_name }}</b><br /><span>{{ area.name_mr }}</span></a></td>
				<tr>
                {% endfor %}


			</table>
		</div>
	</div>
</div>

{% endblock content %}
