{% extends 'innov/base.html' %}

{% block extra_head %}
<script>

$(function() {
    var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{minZoom:1,maxZoom:18,attribution:'Map data © openstreetmap contributors'});
    map = new L.Map('map', {layers: [osm], center: new L.LatLng(19.04719036505186, 72.87094116210938), zoom: 11 });
    //console.log(map);

    var initialBBox = map.getBounds();
//Get user current location
    navigator.geolocation.getCurrentPosition(function(loc) {
        //on success load stops near user's latlng
        var coords = loc.coords;
        var latlng = new L.LatLng(coords.latitude, coords.longitude);
        if (initialBBox.contains(latlng)) {
//        map.setView(latlng, 15);
            loadStops(latlng);
        }
    }, function(err) {
        //if user denies location info, load stops for center point 
        var center = map.getCenter();
        loadStops(center);
    });
    
    map.on("moveend", function(e) {
        //if user moves map, get stops for new center
        var latlng = map.getCenter();
        loadStops(latlng);
    });


 //   map.trigger("moveend");

});

//Load stops near latlng and render on map
function loadStops(latlng) {

    map.setView(latlng, 15);
    var url = "/1.0/stops_near/";
    var params = {
        'center_lat': latlng.lat,
        'center_lon': latlng.lng
    };  
    $.getJSON(url, params, function(data) {
//        if (typeof(jsonLayer) != 'undefined') jsonLayer.removeLayer();
        showStopsData(data);
        
        loadStopsGeojson(data); //defined in best_map.js
     });
    
   
}

function showStopsData(data) {
    $('.stopRow').remove();
    $.each(data.features, function(i, v) {
        var props = v.properties;
        //console.log(props);
        var rowHTML = tmpl('stopTemplate', {'stop': props});
        //console.log(rowHTML);
        $('#nearStopsTable').append(rowHTML);
    });    
}

// Simple JavaScript Templating
// John Resig - http://ejohn.org/ - MIT Licensed
(function(){
  var cache = {};
  
  this.tmpl = function tmpl(str, data){
    // Figure out if we're getting a template, or if we need to
    // load the template - and be sure to cache the result.
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :
      
      // Generate a reusable function that will serve as a template
      // generator (and which will be cached).
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +
        
        // Introduce the data as local variables using with(){}
        "with(obj){p.push('" +
        
        // Convert the template into pure JavaScript
        str
          .replace(/[\r\t\n]/g, " ")
          .split("<%").join("\t")
          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
          .replace(/\t=(.*?)%>/g, "',$1,'")
          .split("\t").join("');")
          .split("%>").join("p.push('")
          .split("\r").join("\\'")
      + "');}return p.join('');");
    
    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
  };
})();
</script>

{% endblock %}

{% block content %}

<script type="text/html" id="stopTemplate">

<tr class="landing_row stopRow">
	<td class="landing_area"><a href="<%= stop.url %>"><b><%= stop.display_name %></b><br /><span><%= stop.name_mr %></span></a></td>
<tr>
</script>

<div class="g9">

<!--
	<div class="leading40"></div>
-->
	<div class="leading10"></div>
	<div class="g9_9 white">
		<div class="g9_9 search">
			<div class="g9_1">&nbsp;</div>
			<div class="g9_8">
				<h1 style="display:none">ChaloBEST Mumbai busguide</h1>
				{% include 'innov/guidesearch_form.html' %}
			</div>
		</div>
		
		<div class="leading20"></div>
		
		<div class="searchbar">
			<div class="g9_1">&nbsp;</div>
			<div class="g9_8">
				<ul>
					<li><span class="statistics">{{ counts.areas }} AREAS <!-- <br /><span class="overline">areas</span>--></span>
						<span class="center">
							<img class="statsImg" src="/static/images/area.png" >
						</span>
					</li>
					<li><img class="statsImg" src="/static/images/stop.png" ><span class="statistics">{{ counts.stops }} STOPS<!-- <br /><span class="overline">stops</span> --> </span></li>
					<li><img class="statsImg" src="/static/images/bus.png" ><span class="statistics">{{ counts.routes }} ROUTES<!--<br /><span class="overline">routes</span>--> </span></li>
				</ul>
			</div>
		</div>
		<div class="leading10"></div>
		<div class="g9_9 maphome">
            <div class="landingmap" id="map"></div>
		</div>
		<br style="clear: both;" />
	</div>
	
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="g9_9">&nbsp;
	<!--
		<div class="listtitlesmall">
			<h3>Comments</h3>
		</div>
		<div class="comments" id="comments_list">
			<div class="comment_item">
				<div class="comment_user">
					indrani misra:
				</div>
				<div class="comment_content">
					Bani,
					Loved reading your article. What a lovely and meaningful experience between the banyan trees! I could picture it all. carry on with the great work that SRUTI is doing. Between the great economic and social divide...
				</div>
			</div>
		</div>
		<div class="leading20"></div>
		<div class="comments" id="comment_form">
			<h4 class="formHeader">Leave a comment</h4>
			<form action="/comments/post/" method="POST">
				<div style='display:none'>
					<input type='hidden' name="" value="" />
					<input type="hidden" name="next" value="" />
				</div>
				<div class="box">
					<label for="id_name">Name:</label>
					<div class="textbox"><input id="id_name" type="text" name="name" maxlength="50" /></div>
				</div>
				<div class="box">
					<label for="id_email">Email address:</label>
					<div class="textbox"><input id="id_email" type="text" name="email"  /></div>
				</div>
				<div class="box">
					<label for="id_url">URL:</label>
					<div class="textbox"><input id="id_url" type="text" name="url" /></div>
				</div>
				<div class="box">
					<label for="id_comment">Comment:</label>
					<div class="textbox"><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
				<div class="pot">
					<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>
					<input type="text" name="honeypot" id="id_honeypot" />
				</div>
				<div class="box right">
					<input type="hidden" name="content_type" value="emailer.emailerissue" id="id_content_type" />
					<input type="hidden" name="object_pk" value="" id="id_object_pk" />
					<input type="hidden" name="timestamp" value="" id="id_timestamp" />
					<input type="hidden" name="security_hash" value="" id="id_security_hash" />
					<div class="g9_3">&nbsp;</div>
					<div class="g9_gut"></div>
					<div class="g9_6"><input type="submit" id="id_submit" name="post" class="submit-post" value="Post"></div>
				</div>
			</form>
		</div>
		</div> -->
	</div>
</div>
<!-- 
<div class="g3">
	<div class="g3_3">
		<div class="highlight">
			<h2>Trip planner</h2>
			<div class="tripform">
				<form name="homeOTPsearch">
					<input class="tripinput" type="text" name="from" value="Type departure location" />
					<input class="tripinput" type="text" name="to" value="Type arrival location" />
					<input class="submit" type="submit" value="Search" />
					<br style="clear: both;" />
				</form>
			</div>
		</div>
	</div>
</div>
 -->
<div class="g3">
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
</div>
<div class="g3">
	<div class="leading20"></div>
	<div class="g3_3 height">
		<div class="g3_3 list">
			<table name="landing_area" class="tablebase" id="nearStopsTable">
				<tr class="sublist">
					<th>
						<form name="filter_home_area" class="listfilter_form">
							<input class="listfilter_input" type="text" name="filter list" value="Type to filter, select below..." />
						</form>
					</th>
				</tr>
     

			</table>
		</div>
	</div>
</div>

{% endblock content %}
