{% extends 'innov/base.html' %}
{% block content %}

<div class="g3">
	<div class="leading40"></div>
	<div class="g3_3 listtitlesmall"><h3>ChaloBEST @work</h3></div>
	<div class="g3_3 staticpage lightgrey">
		<img src="/static/images/chalobest_team.png" alt="ChaloBEST team at work" />
	</div>
</div>

<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">
		<h1>ChaloBEST - Join Us</h1>
		<p>We are an open partnership project, mostly based on voluntary contribution. Anyone who wants to commit time to this project and supports open source development can contact us for more information.</p>
		<p>Our team ranges from people with a passion for public transport, for open source development, for public activism, for database crunching, social entrepreneurship and for making stuff work.</p>
		<p>There are some skills that we need urgently, if you have any of those please contact us at the earliest:</p>
		<h3>Travelers  - (application testers) -</h3>
		<p>We always need people who travel by bus (and later also train) and who can help evaluating and improving the data and the usability of the ChaloBEST tools.</p>
		<p class="italic">- Period of main activity: <b>September 2012 onwards.</b></p>
		<h3>User Testers</h3>
		<p>Anyone who has experience taking ethnographic and usability interviews/tests is requested to contact us at the earliest. We are planning a larger scale research using our SMS, Android and website applications for the next round of improvements.</p>
		<p>- Period of main activity: <b>September to November 2012</b></p>
		<h3>Developers</h3>
		<p></p>
		<p class="italic">- Period of main activity: <b>September 2012 onwards.</b></p>
		<h3>Open Trip Planner / Java Developers</h3>
		<p></p>
		<p class="italic">- Period of main activity: <b>September 2012 onwards.</b></p>
		<h2>How to join</h2>
		<p>Drop a line in the form below. You will be invited to join us in a regular meeting so that you can see the team in action and decide whether you want to join in.</p>
		<form name="joinus">
			<label for="name">Your name</label><input class="tripinput" type="text" name="name" id="name" value="" />
			<label for="email">Your e-mail</label><input class="tripinput" type="text" name="email" id="email" value="" />
			<label for="message">Your message</label><textarea class="tripinput" type="text" name="message" id="message" value=""></textarea>
			<input class="submit" type="submit" value="Send message" />
			<br style="clear: both;" />
		</form>
	</div>
	<div class="leading40"></div>
</div>
<div class="g3">
	<div class="g3_3 ">
		<div class="highlight">
			<h2>ChaloBEST work</h2>
			<div class="leading20"></div>
			<p class="small">Find our ongoing work and project history here:</p>
			<ul>
				<li><a href="#">Our project Wiki</a></li>
				<li><a href="#">Our code repository</a></li>
			</ul>
		</div>
	</div>
</div>
</div>

{% endblock %}
