{% extends 'innov/base.html' %}
{% block content %}

<!-- Settings links & profile -->
<div class="g3">
	<div class="leading20"></div>
		<div class="g3_3 staticpage main">
		<ul id="box-nav">
			<li><a href='/accounts/mcaro/'>My page</a></li>
			<li class="selected"><a href='/accounts/mcaro/edit/'>Edit profile</a></li>
			<li><a href='/accounts/mcaro/password/'>Change password</a></li>
			<li><a href='/accounts/mcaro/email/'>Change email</a></li>
		</ul>
	</div>
	<div id="box">
		<img class="mugshot" src="http://www.gravatar.com/avatar/8b8f3a7297801bd5cdbc6e58231ab0ed?s=140&amp;d=monsterid" alt="Your mugshot" />
		<dl>
			<dt>Email</dt>
			<dd>carolien.klep@gmail.com</dd>
		</dl>
	</div>
</div>

<!-- CONTENT BLOCK-->
<div class="g9">
	<div class="leading40"></div>
	<div class="g9_9 staticpage main">
		<form action="" enctype="multipart/form-data" method="post">
		<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='AY0UF5lQ8hGGdnN0Ei8F15O1XQP9v399' /></div>
		<fieldset>
			<h1><legend>Edit Profile</legend></h1>
	</div>
</div>
<div class="g4">
	<div class="g4_4 staticpage main"></div>
		<div class="divline">
			<div class="divlabel"><label for="id_first_name">First name:</label></div>
			<div class="divinput"><input id="id_first_name" type="text" name="first_name" maxlength="30" /></div>
		</div>
		<div class="divline">
			<div class="divlabel"><label for="id_last_name">Last name:</label></div>
			<div class="divinput"><input id="id_last_name" type="text" name="last_name" maxlength="30" /></div>
		</div>
		<div class="divline">
			<div class="divlabel"><label for="id_mugshot">Mugshot:</label></div>
			<div class="divinput"><input type="file" name="mugshot" id="id_mugshot" /> <span class="helptext">A personal image displayed in your profile.</span></div>
		</div>
		<div class="divline">
			<div class="divlabel"><label for="id_gender">Gender:</label></div>
			<div class="divinput"><select name="gender" id="id_gender">
				<option value="" selected="selected">---------</option>
				<option value="1">Male</option>
				<option value="2">Female</option>
				</select></div>
		</div>
		<div class="divline">
			<div class="divlabel"><label for="id_birth_date">Birth date:</label></div>
			<div class="divinput"><input type="text" name="birth_date" id="id_birth_date" /></div>
		</div>
		<div class="divline">
			<div class="divlabel"><label for="id_website">Website:</label></div>
			<div class="divinput"><input id="id_website" type="text" name="website" maxlength="200" /></div>
		</div>
		<div class="divline">
			<div class="divlabel"><label for="id_location">Location:</label></div>
			<div class="divinput"><input id="id_location" type="text" name="location" maxlength="255" /></div>
		</div>
</div>

<!-- CONTENT BLOCK-->
<div class="g5">
	<div class="g5_5 staticpage main">
		<div class="divline">
			<div class="divlabel"><label for="id_about_me">About me:</label></div>
			<div class="divinput"><textarea id="id_about_me" rows="8" cols="40" name="about_me"></textarea></div>
		</div>
		<div class="leading10"></div>
		<div class="divline">
			<div class="divlabel"><label for="id_language">Language:</label></div>
			<div class="divinput"><select name="language" id="id_language">
				<option value="ar">Arabic</option>
				<option value="az">Azerbaijani</option>
				<option value="bg">Bulgarian</option>
				<option value="bn">Bengali</option>
				<option value="bs">Bosnian</option>
				<option value="ca">Catalan</option>
				<option value="cs">Czech</option>
				<option value="cy">Welsh</option>
				<option value="da">Danish</option>
				<option value="de">German</option>
				<option value="el">Greek</option>
				<option value="en" selected="selected">English</option>
				<option value="en-gb">British English</option>
				<option value="eo">Esperanto</option>
				<option value="es">Spanish</option>
				<option value="es-ar">Argentinian Spanish</option>
				<option value="es-mx">Mexican Spanish</option>
				<option value="es-ni">Nicaraguan Spanish</option>
				<option value="et">Estonian</option>
				<option value="eu">Basque</option>
				<option value="fa">Persian</option>
				<option value="fi">Finnish</option>
				<option value="fr">French</option>
				<option value="fy-nl">Frisian</option>
				<option value="ga">Irish</option>
				<option value="gl">Galician</option>
				<option value="he">Hebrew</option>
				<option value="hi">Hindi</option>
				<option value="hr">Croatian</option>
				<option value="hu">Hungarian</option>
				<option value="id">Indonesian</option>
				<option value="is">Icelandic</option>
				<option value="it">Italian</option>
				<option value="ja">Japanese</option>
				<option value="ka">Georgian</option>
				<option value="kk">Kazakh</option>
				<option value="km">Khmer</option>
				<option value="kn">Kannada</option>
				<option value="ko">Korean</option>
				<option value="lt">Lithuanian</option>
				<option value="lv">Latvian</option>
				<option value="mk">Macedonian</option>
				<option value="ml">Malayalam</option>
				<option value="mn">Mongolian</option>
				<option value="nb">Norwegian Bokmal</option>
				<option value="ne">Nepali</option>
				<option value="nl">Dutch</option>
				<option value="nn">Norwegian Nynorsk</option>
				<option value="pa">Punjabi</option>
				<option value="pl">Polish</option>
				<option value="pt">Portuguese</option>
				<option value="pt-br">Brazilian Portuguese</option>
				<option value="ro">Romanian</option>
				<option value="ru">Russian</option>
				<option value="sk">Slovak</option>
				<option value="sl">Slovenian</option>
				<option value="sq">Albanian</option>
				<option value="sr">Serbian</option>
				<option value="sr-latn">Serbian Latin</option>
				<option value="sv">Swedish</option>
				<option value="sw">Swahili</option>
				<option value="ta">Tamil</option>
				<option value="te">Telugu</option>
				<option value="th">Thai</option>
				<option value="tr">Turkish</option>
				<option value="tt">Tatar</option>
				<option value="uk">Ukrainian</option>
				<option value="ur">Urdu</option>
				<option value="vi">Vietnamese</option>
				<option value="zh-cn">Simplified Chinese</option>
				<option value="zh-tw">Traditional Chinese</option>
			</select></div>
		</div>
		<div class="divline">
			<div class="divlabel"><label for="id_privacy">Privacy:</label></div>
			<div class="divinput">
				<select name="privacy" id="id_privacy">
					<option value="open">Open</option>
					<option value="registered" selected="selected">Registered</option>
					<option value="closed">Closed</option>
				</select> <span class="helptext">Designates who can view your profile.</span></div>
		</div>
		 </fieldset>
		<div class="leading10"></div>
		<div class="divline">
			<div class="divlabel">&nbsp;</div>
			<div class="divinput"><input class="actionbutton" type="submit" value="Save changes" /></div>
		</div>
		 
		</form>
	</div>
	<div class="leading40"></div>
</div>

{% endblock %}
