{% extends 'innov/base.html' %}
{% block content %}

<div class="leading10"></div>
<div class="g12">
	<div class="g12_12 search">
        {% include 'guidesearch_form.html' %}

	</div>
</div>

<div class="g8">
	<div class="g8_8">
		<div class="pagetitle">
			<img src="img/bus_r.png" />
			<div class="routetitle">
				<h1>
					<span class="number">AS 4 extra</span>
					<span class="from">Colaba Bus Stn.</span>
					<span class="dash"> - </span>
					<span class="to">Santacruz Depot</span>
					<span class="from">कोलाबा बस स्थानक</span>
					<span class="dash">  -   </span>
					<span class="to">सांताक्रुझ आगार</span>
				</h1>
			</div>
		</div>
		<br style="clear: both;" />
		<div class="maphome">
			<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=72.74,18.939,72.996,19.259&amp;layer=mapnik" style="border: 1px solid #999"></iframe><br /><small><a href="http://www.openstreetmap.org/?lat=19.099&amp;lon=72.868&amp;zoom=11&amp;layers=M">View Larger Map</a></small>
		</div>
	</div>
	<div class="leading40"></div>
	<div class="g8_5">
				<div class="listtitlesmall">
				<h3>Comments</h3>
			</div>
			<div class="comments" id="comments_list">
				<div class="comment_item">
					<div class="comment_user">
						indrani misra:
					</div>
					<div class="comment_content">
					Bani,
					Loved reading your article. What a lovely and meaningful experience between the banyan trees! I could picture it all. carry on with the great work that SRUTI is doing. Between the great economic and social divide...
					</div>
				</div>
			</div>
			<div class="leading20"></div>
			<div class="comments" id="comment_form">
				<h4 class="formHeader">Leave a comment</h4>
				<form action="/comments/post/" method="POST">
					<div style='display:none'>
						<input type='hidden' name="" value="" />
						<input type="hidden" name="next" value="" />
					</div>
					<div class="box">
						<label for="id_name">Name:</label>
						<div class="textbox"><input id="id_name" type="text" name="name" maxlength="50" /></div>
					</div>
					<div class="box">
						<label for="id_email">Email address:</label>
						<div class="textbox"><input id="id_email" type="text" name="email"  /></div>
					</div>
					<div class="box">
						<label for="id_url">URL:</label>
						<div class="textbox"><input id="id_url" type="text" name="url" /></div>
					</div>
					<div class="box">
						<label for="id_comment">Comment:</label>
						<div class="textbox"><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
					<div class="pot">
						<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>
						<input type="text" name="honeypot" id="id_honeypot" />
					</div>
					<div class="box right">
						<input type="hidden" name="content_type" value="emailer.emailerissue" id="id_content_type" />
						<input type="hidden" name="object_pk" value="" id="id_object_pk" />
						<input type="hidden" name="timestamp" value="" id="id_timestamp" />
						<input type="hidden" name="security_hash" value="" id="id_security_hash" />
						<div class="g9_3">&nbsp;</div>
						<div class="g9_gut"></div>
						<div class="g9_6"><input type="submit" id="id_submit" name="post" class="submit-post" value="Post"></div>
					</div>
				</form>
			</div>
			</div>
	</div>
	<div class="g8_gut"></div>
	<div class="g8_3">
		<table name="stop_nearby" class="stoppage_table">
			<tr class="listtitlesmall">
				<th>
					<img src="img/area.png" />
					<h3>Areas covered</h3>
				</th>
			</tr>
			<tr class="landing_row">
				<td class="landing_area"><a href="#"><b>Colaba</b><br /><span>कोलाबा</span></a></td>
			<tr>
			<tr class="landing_row">
				<td class="landing_area"><a href="#"><b>Fort</b><br /><span></span></a></td>
			<tr>
			<tr class="landing_row">
				<td class="landing_area"><a href="#"><b>Parel</b><br /><span></span></a></td>
			<tr>
			<tr class="landing_row">
				<td class="landing_area"><a href="#"><b>Mahim</b><br /><span></span></a></td>
			<tr>
			<tr class="landing_row">
				<td class="landing_area"><a href="#"><b>Bandra</b><br /><span></span></a></td>
			<tr>
			<tr class="landing_row">
				<td class="landing_area"><a href="#"><b>SantaCruz</b><br /><span></span></a></td>
			<tr>
			<tr class="landing_row">
				<td class="landing_area"><a href="#"><b>Andheri</b><br /><span></span></a></td>
			<tr>
		</table>
	</div>
</div>

<div class="g4">
	<div class="arealistheight">
		<div class="g4_4 listtitle">
			<img src="img/stop.png" />
			<h3>Stops</h3>
		</div>
		<div class="g4_4 listextrainfo">
			<img src="img/Frq_3.png" />
			<p>11 am - 5 pm <span class="frequency">22 mins.</span><span class="thumbs">Is this frequency accurate?</span></p>
		</div>
		<div class="list">
			<table name="routepage_table" class="routepage_table">
				<tr class="listtitlesmall">
					<th class="route_stop">
						<img src="img/stop.png" />
					</th>
					<th class="route_area">
						<img src="img/area.png" />
					</th>
					<th class="route_distance">
						<img src="img/distance.png" />
					</th>
				</tr>
				<tr class="listfilter">
					<td>
						<form name="filter_route_stop" class="listfilter_form">
							<input class="listfilter_input" type="text" name="route_stop" value="Type stop name..." />
						</form>
					</td>
					<td>
						<form name="filter_route_area" class="listfilter_form">
							<input class="listfilter_input" type="text" name="route_area" value="Type area..." />
						</form>
					</td>
					<td class="g4_1small">&nbsp;</td>
				</tr>
				<tr>
					<td><a href="#"><b>Aarey Colony</b><br /><span>आरे वसाहत</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Aksa</b><br /><span>अक्सा</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Andheri (E)</b><br /><span>अंधेरी (पू)</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Andheri (W)</b><br /><span>अंधेरी (प</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Antop Hill</b><br /><span>अँटोप हिल</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Anushakti Nagar</b><br /><span>अणुशक्ती नगर</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
					<tr>
					<td><a href="#"><b>Aarey Colony</b><br /><span>आरे वसाहत</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Aksa</b><br /><span>अक्सा</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Andheri (E)</b><br /><span>अंधेरी (पू)</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Andheri (W)</b><br /><span>अंधेरी (प</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Antop Hill</b><br /><span>अँटोप हिल</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Anushakti Nagar</b><br /><span>अणुशक्ती नगर</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
					<tr>
					<td><a href="#"><b>Aarey Colony</b><br /><span>आरे वसाहत</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Aksa</b><br /><span>अक्सा</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Andheri (E)</b><br /><span>अंधेरी (पू)</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Andheri (W)</b><br /><span>अंधेरी (प</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Antop Hill</b><br /><span>अँटोप हिल</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
				<tr>
					<td><a href="#"><b>Anushakti Nagar</b><br /><span>अणुशक्ती नगर</span></a></td>
					<td><a href="#">Colaba</a></td>
					<td class="right">1km</td>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}
