{% extends 'innov/base.html' %}
{% block extra_head %}
<script>
$(function() {
    var slug = "{{ route.alias }}";
    var url = "/1.0/route/" + slug;
    $.getJSON(url, {}, function(data) {
        loadStopsGeojson(data.stops);
        var bounds = jsonLayer.getBounds();
        map.fitBounds(bounds);
    });

});
</script>
{% endblock %}

{% block content %}

<div class="leading10"></div>
<div class="g12">
	<div class="g12_12 search">
        {% include 'innov/guidesearch_form.html' %}

	</div>
</div>

<div class="g8">
	<div class="g8_8">
		<div class="pagetitle">
			<img src="img/bus_r.png" />
			<div class="routetitle">
				<h1>
					<span class="number">{{ route.alias }}</span>
					<span class="from">{{ route.from_stop.name }}</span>
					<span class="dash"> - </span>
					<span class="to">{{ route.to_stop.name }}</span>
					<span class="from">{{ route.from_stop.name_mr }}</span>
					<span class="dash">  -   </span>
					<span class="to">{{ route.to_stop.name_mr }}</span>
				</h1>
			</div>
		</div>
		<br style="clear: both;" />
		<div class="maphome">
			<div id="map" style="width:100%;height:100%;"></div>
		</div>
	</div>
	<div class="leading40"></div>
    
	<div class="g8_5">
				<div class="listtitlesmall">
				<h3>Comments</h3>
			</div>
			<div class="comments" id="comments_list">
				<div class="comment_item">
					<div class="comment_user">
						indrani misra:
					</div>
					<div class="comment_content">
					Bani,
					Loved reading your article. What a lovely and meaningful experience between the banyan trees! I could picture it all. carry on with the great work that SRUTI is doing. Between the great economic and social divide...
					</div>
				</div>
			</div>
			<div class="leading20"></div>
			<div class="comments" id="comment_form">
				<h4 class="formHeader">Leave a comment</h4>
				<form action="/comments/post/" method="POST">
					<div style='display:none'>
						<input type='hidden' name="" value="" />
						<input type="hidden" name="next" value="" />
					</div>
					<div class="box">
						<label for="id_name">Name:</label>
						<div class="textbox"><input id="id_name" type="text" name="name" maxlength="50" /></div>
					</div>
					<div class="box">
						<label for="id_email">Email address:</label>
						<div class="textbox"><input id="id_email" type="text" name="email"  /></div>
					</div>
					<div class="box">
						<label for="id_url">URL:</label>
						<div class="textbox"><input id="id_url" type="text" name="url" /></div>
					</div>
					<div class="box">
						<label for="id_comment">Comment:</label>
						<div class="textbox"><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
					<div class="pot">
						<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>
						<input type="text" name="honeypot" id="id_honeypot" />
					</div>
					<div class="box right">
						<input type="hidden" name="content_type" value="emailer.emailerissue" id="id_content_type" />
						<input type="hidden" name="object_pk" value="" id="id_object_pk" />
						<input type="hidden" name="timestamp" value="" id="id_timestamp" />
						<input type="hidden" name="security_hash" value="" id="id_security_hash" />
						<div class="g9_3">&nbsp;</div>
						<div class="g9_gut"></div>
						<div class="g9_6"><input type="submit" id="id_submit" name="post" class="submit-post" value="Post"></div>
					</div>
				</form>
			</div>
			</div>
	</div>
	<div class="g8_gut"></div>
	<div class="g8_3">
		<table name="stop_nearby" class="stoppage_table">
			<tr class="listtitlesmall">
				<th>
					<img src="img/area.png" />
					<h3>Areas covered</h3>
				</th>
			</tr>
            {% for area in route.areas_passed %}
			<tr class="landing_row">
				<td class="landing_area"><a href="{{ area.get_absolute_url }}"><b>{{ area.name }}</b><br /><span>{{ area.name_mr }}</span></a></td>
			<tr>
            {% endfor %}
		</table>
	</div>
</div>

<div class="g4">
	<div class="arealistheight">
		<div class="g4_4 listtitle">
			<img src="img/stop.png" />
			<h3>Stops</h3>
		</div>
		<div class="g4_4 listextrainfo">
			<img src="img/Frq_3.png" />
			<p><!-- FIXME 11 am - 5 pm --> {% if route.headways %}<span class="frequency">Expected frequency: {{ route.headways }}mins</span>{% endif %}<!-- <span class="thumbs">Is this frequency accurate?</span> --></p>
		</div>
		<div class="list">
			<table name="routepage_table" class="routepage_table">
				<tr class="listtitlesmall">
					<th class="route_stop">
						<img src="img/stop.png" />
					</th>
					<th class="route_area">
						<img src="img/area.png" />
					</th>
					<th class="route_distance">
						<img src="img/distance.png" />
					</th>
				</tr>
				<tr class="listfilter">
					<td>
						<form name="filter_route_stop" class="listfilter_form">
							<input class="listfilter_input" type="text" name="route_stop" value="Type stop name..." />
						</form>
					</td>
					<td>
						<form name="filter_route_area" class="listfilter_form">
							<input class="listfilter_input" type="text" name="route_area" value="Type area..." />
						</form>
					</td>
					<td class="g4_1small">&nbsp;</td>
				</tr>
                {% for r in routeDetails %}
				<tr>
					<td><a href="{{ r.stop.get_absolute_url }}"><b>{{ r.stop.name }}</b><br /><span>{{ r.stop.name_mr }}</span></a></td>
					<td><a href="{{ r.stop.area.get_absolute_url }}">{{ r.stop.area.name }}</a></td>
					<td class="right">{% if r.km %} {{ r.km }}km {% endif %}</td>
				</tr>
                {% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}
