{% extends 'innov/base.html' %}
{% block content %}

<div class="g3">
<!--	<div class="leading40"></div>
	<div class="g3_3 listtitlesmall"><h3>ChaloBEST</h3></div>
	<div class="g3_3 staticpage lightgrey">
		<div class="box">
			<p>[Some quote about ChaloBEST]</p>
		</div>
	</div> -->
</div>

<div class="g6">
	<div class="leading40"></div>
	<div class="g6_6 staticpage main">
		<form action="" method="post">
			<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='YzyQypsxOcO4XfKWrUy8jMaaWoYtmdGv' /></div>
			<fieldset>
				<h1><legend>Sign up</legend></h1>
				<p>Already have an account? <a href="signin.html">Sign in here</a></p>
				<div class="divline">
					<div class="divlabel"><label for="id_username">Username</label></div>
					<div class="divinput"><input id="id_username" type="text" class="required" name="username" maxlength="30" /></div>
				</div>
				<div class="divline">
					<div class="divlabel"><label for="id_email">Email</label></div>
					<div class="divinput"><input id="id_email" type="text" class="required" name="email" maxlength="75" /></div>
				</div>
				<div class="leading20"></div>
				<div class="divline">
					<div class="divlabel"><label for="id_password1">Create password</label></div>
					<div class="divinput"><input id="id_password1" type="password" class="required" name="password1" /></div>
				</div>
				<div class="divline">
					<div class="divlabel"><label for="id_password2">Repeat password</label></div>
					<div class="divinput"><input id="id_password2" type="password" class="required" name="password2" /></div>
				</div>
			</fieldset>
				<div class="divline">
					<div class="divlabel">&nbsp;</div>
					<div class="divinput"><input type="submit" value="Sign up" /></div>
				</div>
			
		</form>
	</div>
	<div class="leading40"></div>
	<div class="leading40"></div>
	<div class="leading40"></div>
</div>
<div class="g3">
<!--	<div class="g3_3 ">
		<div class="highlight">
			<h2>ChaloBEST newsletter</h2>
			<div class="leading20"></div>
			<p class="small">Sign up for our newsletter.</p>
		</div>
	</div> -->
</div>

{% endblock %}
