{% extends 'innov/base.html' %}
{% block content %}

<!-- english -->
<div class="g3 lightgrey">
<!-- english -->
<div class="g3 lightgrey">
	<div class="leading60"><h2 class="hwider darkgrey">English</h2></div>
	<div class="g3_3 staticpage main"><h1>SMS service</h1></div>
	<div class="g3_3 staticpage">
		<p>With ChaloBEST, you can send queries and receive information about bus stops, bus numbers and routing on BEST. <br />
		Send SMS to <b>96195.24420</b> (*)</p>
		<p>(*) Normal SMS charges applicable as per carrier rate and plan.</p>
	</div>
	<div class="leading20"></div>
	<div class="g3_3 staticpage main">
		<h2 class="hwide darkgrey">INSTRUCTIONS</h2>
		<div class="leading10"></div>
		<h3>Find routes between bus stops <br />(or areas)</h3>
		<p>Send the names separated by "<b>to</b>". (other possible separators: "<b>+</b>", "<b>/</b>".)<br />Example: </p>
		<div class="g3_3 darkgrey">
			<div class="leading10"></div>
			<div class="center">
				<img  src="img/sms_direction_send.png" alt="send message as - FROM mahim TO churchgate" />
			</div>
			<div class="leading10"></div>
		</div>
		<div class="leading40"></div>
		<h3>Find all busses &plus; frequencies at your stop</h3>
		<p>Send the stop name. Example:<br />
		"<b>mahim</b>" (or "<b>borivali w</b>", "<b>bhandup</b>", etc)</p>
		<div class="g3_3 darkgrey">
			<div class="leading10"></div>
			<div class="center">
				<img src="img/sms_stop_send.png" alt="send message as - FROM mahim TO churchgate" />
			</div>
			<div class="leading10"></div>
		</div>
		<div class="leading40"></div>
		<h3>Find bus route &amp; frequency:</h3>
		<p>Send the bus number (add the letter if it has one). Example:<br />
		"<b>21</b>" (Other bus types: "<b>92L</b>","<b>C-52</b>","<b>AS-440</b>")</p>
		<div class="g3_3 darkgrey">
			<div class="leading10"></div>
			<div class="center">
				<img src="img/sms_bus_send.png" alt="send message as: 21" />
			</div>
			<div class="leading10"></div>
		</div>
	</div>
</div>

<!-- marathi -->
<div class="g3 lightgreen">
	<div class="leading60"><h2 class="hwider green">मराठी</h2></div>
	<div class="g3_3 staticpage main"><h1>एस.एम.एस. service</h1></div>
	<div class="g3_3 staticpage">
		<p>चलोबेस्ट या सेवेद्वारे  तुम्ही बेस्ट बसेस, बसस्थानक, बसमार्ग यांची माहीती एस.एम.एस च्या माध्यमातुन मिळवू शकता.<br />
		त्यासाठी <b>९६१९५२४४२०</b> या मोबाईल क्रंमाकावर  एस.एम.एस पाठवा.(*)</p>
		<p>(*) या सुविधेसाठी  तुमच्या एस.एम.एस सेवेचा नियमीत शुल्क आकारले जातील. </p>
	</div>
	<div class="leading20"></div>
	<div class="g3_3 staticpage main">
		<h2 class="hwide green">INSTRUCTIONS</h2>
		<div class="leading10"></div>
		<h3>दोन बसस्थानक किंवा क्षेत्रातील बसमार्गांबद्दलच्या  माहीतीसाठी</h3>
		<p>त्या दोन स्थानकांच्या नावांमध्ये  "<b>to</b>", "<b>+</b>", "<b>/</b>" लिहुन एस.एम.एस करा. उदाहरणार्थ:</p>
		<div class="g3_3 green">
			<div class="leading10"></div>
			<div class="center">
				<img  src="img/sms_direction_send.png" alt="send message as - FROM mahim TO churchgate" />
			</div>
			<div class="leading10"></div>
		</div>
		<div class="leading40"></div>
		<h3>कोणत्याही बसस्थानकावरील बसमार्ग व त्या स्थानकावरुन सुटणार् या दोन बसमधिल वेळेच अंतर यांच्या माहीतीसाठी</h3>
		<p>स्थानकाचे नाव  एस.एम.एस करा. उदाहरणार्थ:<br />
		"<b>mahim</b>" (or "<b>borivali w</b>", "<b>bhandup</b>", etc)</p>
		<div class="g3_3 green">
			<div class="leading10"></div>
			<div class="center">
				<img src="img/sms_stop_send.png" alt="send message as - FROM mahim TO churchgate" />
			</div>
			<div class="leading10"></div>
		</div>
		<div class="leading40"></div>
		<h3>कोणत्याही बेस्ट बसच्या बसमार्गाची व वारंवारतेची  माहिती मिळवण्यासाठी</h3>
		<p>बसचा पूर्ण क्रमांक एस.एम.एस करा. उदाहरणार्थ:<br />
		"<b>21</b>" (Other bus types: "<b>92L</b>","<b>C-52</b>","<b>AS-440</b>")</p>
		<div class="g3_3 green">
			<div class="leading10"></div>
			<div class="center">
				<img src="img/sms_bus_send.png" alt="send message as: 21" />
			</div>
			<div class="leading10"></div>
		</div>
	</div>
</div>

<!-- hindi -->
<div class="g3 lightyellow">
	<div class="leading60"><h2 class="hwider yellow">हिन्दी</h2></div>
	<div class="g3_3 staticpage main"><h1>एस.एम.एस. service</h1></div>
	<div class="g3_3 staticpage">
		<p>ChaloBEST के द्वारा आप बस के क्रमांक, स्टॉप एवं बस मार्गों क़ी जानकारी पा सकते है. <br />
		इस सेवा का उपयोग करने के लिए <b>96195.24420</b> पर SMS भेजें (*)</p>
		<p>(*) सुविधा पे सामान्य SMS शुल्क लागू </p>
	</div>
	<div class="leading20"></div>
	<div class="g3_3 staticpage main">
		<h2 class="hwide yellow">INSTRUCTIONS</h2>
		<div class="leading10"></div>
		<h3>किसी स्थान या स्टॉप के बीच कौन कौन से बस मार्ग है </h3>
		<p>जानने के लिए उनके नाम SMS में भेजें. नामों के बीच "<b>to</b>","<b>+</b>" या  "<b>/</b>" डाल के उन्हें अलग करें. उदाहरण के लिए:</p>
		<div class="g3_3 yellow">
			<div class="leading10"></div>
			<div class="center">
				<img  src="img/sms_direction_send.png" alt="send message as - FROM mahim TO churchgate" />
			</div>
			<div class="leading10"></div>
		</div>
		<div class="leading40"></div>
		<h3>किसी भी स्टॉप के बस मार्ग या उस स्टॉप क़ी बसें कितने समय काल के बाद आती  है</h3>
		<p>जानने के लिए उस स्टॉप का नाम SMS करें. उदाहरण के लिए <br />
		"<b>mahim</b>" (or "<b>borivali w</b>", "<b>bhandup</b>", etc)</p>
		<div class="g3_3 yellow">
			<div class="leading10"></div>
			<div class="center">
				<img src="img/sms_stop_send.png" alt="send message as - FROM mahim TO churchgate" />
			</div>
			<div class="leading10"></div>
		</div>
		<div class="leading40"></div>
		<h3>किसी बस का मार्ग जानने के लिए या यह जानने के लिए क़ि वह कितने समय काल के बाद आती है</h3>
		<p> बस का नंबर ( अंग्रेजी अक्षर सहित ) SMS करें. उदाहरण के लिए:<br />
		"<b>21</b>" (Other bus types: "<b>92L</b>","<b>C-52</b>","<b>AS-440</b>")</p>
		<div class="g3_3 yellow">
			<div class="leading10"></div>
			<div class="center">
				<img src="img/sms_bus_send.png" alt="send message as: 21" />
			</div>
			<div class="leading10"></div>
		</div>
	</div>
</div>

<!-- right banner -->
<div class="g3">
	<div class="g3_3 ">
		<div class="highlight2">
			<h2>ChaloBEST SMS</h2>
			<div class="leading20"></div>
			<ul>
				<li><b>Directions: </b><br /> "<span>[stop name]</span><b> to </b><span>[stop name]</span>"</li>
				<li><b>Buses at your stop:</b><br /> "<span>[stop name]</span>"</li>
				<li><b>Bus stop list &amp; frequency:</b><br /> "<span>[number]</span>"</li>
				<li><h2>SMS 9619524420</h2></li>
			</ul>
		</div>
	</div>
</div>
<div class="g1"></div>
<div class="g3 right">
	<div class="g3_3 listtitlewarning red"><h3 class="red">Feedback &amp; Disclaimer</h3></div>
	<div class="g3_3 staticpage">
		<div class="box">
			<p>ChaloBEST SMS is in public beta, and your feedback is most welcome, <a href="contact.html">click here to contact</a>.</p>
			<p>ChaloBEST सुविधा क़ी अभी जांच एवं परिक्षण जारी है. इस सेवा पे आपके विचार एवं सुझाव हमें ज़रूर भेजें. हम से समपर्क करने के लिए <a href="contact.html">इधर क्लिक करें</a>.</p>
			<p>चलोबेस्ट एस.एम.एस सेवा ही लोकांकरीता असल्याने त्याचे परिक्षण चालु आहे, तुमच्या अभिप्राय आणि सुचनेचे आम्ही स्वागत करतो. संपर्क साधण्यासाठी <a href="contact.html">येथे क्लिक करा.</a></p>
		</div>
	</div>
</div>

{% endblock %}
