{% extends 'innov/base.html' %}


{% block content %}

<div class="g2"></div>
<div class="g7">
	<div class="leading30"></div>
	<div class="g9_9 staticpage main">
		<div class=""><h1 class="hwider darkgrey">Free public transport tools for Mumbai on SMS, web & smartphone</h1></div>
		<div class="leading20"></div>
		<h1>SMS 96195.24420 &nbsp; &nbsp; - &nbsp;  &nbsp;  एस.एम.एस.  ९६१९५२४४२०</h1>
		<h3>Find your way by SMS(*))! <a href="sms.html">Available for English, मराठी and हिन्दी</a></h3>
		<p></p>
		<p>(*) Normal SMS charges applicable as per carrier rate and plan.<br />
			(*) या सुविधेसाठी  तुमच्या एस.एम.एस सेवेचा नियमीत शुल्क आकारले जातील. <br />
			(*) सुविधा पे सामान्य SMS शुल्क लागू </p>
		<div class="leading40"></div>
		<h2>Coming soon:</h2>
		<div class="g9_9">
			<div class="g9_3">
				<img src="img/ChaloBEST_laptop.png" alt="ChaloBEST Mumbai BEST Bus Guide to be launched soon" />
			</div>
			<div class="g9_3">
				<img src="img/android_screenshot.png" alt="ChaloBEST Mumbai Android Route planner to be launched soon" />
			</div>
		</div>
	</div>
</div>
<div class="g3">
	<div class="g3_3 ">
		<div class="highlight">
			<h2>ChaloBEST SMS:</h2>
			<p>In English, मराठी and हिन्दी </p>
			<ul>
				<li><b>Directions: </b><br /> "<span>[stop name]</span><b> to </b><span>[stop name]</span>"</li>
				<li><b>Buses at your stop:</b><br /> "<span>[stop name]</span>"</li>
				<li><b>Bus stop list &amp; frequency:</b><br /> "<span>[number]</span>"</li>
				<li>SMS to <b>9619524420</b></li>
			</ul>
			<p><a href="SMS.html">Detailed instructions</a></p>
		</div>
	</div>
</div>

{% endblock content %}
