/*
	Content style sheet for ChaloBEST
*/

/* --------------------- */
/* -  NAVIGATION DIVS  - */
/* --------------------- */



/* footer */
.gradientNav {


background: #ff0000; /* Old browsers */
background: -moz-linear-gradient(top, #ff0000 0%, #ff0000 57%, #980000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(57%,#ff0000), color-stop(100%,#980000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff0000 0%,#ff0000 57%,#980000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff0000 0%,#ff0000 57%,#980000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff0000 0%,#ff0000 57%,#980000 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff0000 0%,#ff0000 57%,#980000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#980000',GradientType=0 ); /* IE6-9 */

/*background: #e53e02;
background: -moz-linear-gradient(top, #e53e02 1%, #a80803 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e53e02), color-stop(100%,#a80803));
background: -webkit-linear-gradient(top, #e53e02 1%,#a80803 100%);
background: linear-gradient(to bottom, #e53e02 1%,#a80803 100%);*/
/*background: #e53e02;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,0,0,0.93)), color-stop(2%,rgba(220,0,0,0.98)), color-stop(57%,rgba(220,0,0,0.98)), color-stop(98%,rgba(135,0,0,0.98)), color-stop(100%,rgba(131,0,0,0.93)));
background: -webkit-linear-gradient(top, rgba(220,0,0,0.93) 0%,rgba(220,0,0,0.98) 2%,rgba(220,0,0,0.98) 57%,rgba(135,0,0,0.98) 98%,rgba(131,0,0,0.93) 100%);
background: linear-gradient(to bottom, rgba(220,0,0,0.93) 0%,rgba(220,0,0,0.98) 2%,rgba(220,0,0,0.98) 57%,rgba(135,0,0,0.98) 98%,rgba(131,0,0,0.93) 100%);*/
}

.foot { background: #888; background: rgba(0,0,0,0.4); margin-bottom: 0; position: fixed; bottom: 0; left: 0; right: 0; width: 100%;}
.foot, .foot a {color: #fff;}
.foot ul, .navlink ul{list-style-type:none; margin:0; padding:0; }
.foot ul {padding: 2px 6px; float: left;}
.foot li {display:inline; float:left;}
.foot li a {display:block; margin: 0 10px;}
.foot .right {padding: 4px 6px;}
.foot .right p{display:inline; font-size: 14px; padding-top: 4px;}
.foot .right img{display:inline; float:right; /*padding:5px 2px 5px 5px;*/ margin-right: 14px; margin-bottom: 0; border: 1px solid #bbb; width:18px; height:18px;}

/* primary navigation */
/*.banner {background:url('../images/header_bg.png') repeat-x; background-size:contain;}*/ /* background image for the global nav + text logo bar */
.bannerWrapper {position: relative;}
.bannerImgLink {display: block; position: absolute; left: 10px; top: 0px;}
.bannerImgLink img {margin: 0;}
.gradientNav {height: 65px; width: 100%;}
.headerImg {position: absolute; right: 0; top: -24px; padding: 3px 0; z-index:1;}
.nav {overflow: hidden; padding: 24px 0; position: relative;}
.bannerImgLink, .headerImg {background: #d2dab3;}

.nav, .headerImg {

/*background: #DEEEBF;*/

background: #94997e; /* Old browsers */
background: -moz-linear-gradient(top, #A4AA8D 0%, #d2dab3 10%, #d2dab3 90%, #A4AA8D 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A4AA8D), color-stop(10%,#d2dab3), color-stop(90%,#d2dab3), color-stop(100%,#A4AA8D)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #A4AA8D 0%,#d2dab3 10%,#d2dab3 90%,#A4AA8D 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #A4AA8D 0%,#d2dab3 10%,#d2dab3 90%,#A4AA8D 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #A4AA8D 0%,#d2dab3 10%,#d2dab3 90%,#A4AA8D 100%); /* IE10+ */
background: linear-gradient(to bottom, #A4AA8D 0%,#d2dab3 10%,#d2dab3 90%,#A4AA8D 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A4AA8D', endColorstr='#94997e',GradientType=0 ); /* IE6-9 */
}
.navprimary {display: none;}
.navlink a {color:#fff;}

.sms { float:right; background-color:green; border:2px solid green;}
.trip {float:left; background-color:#BEDB74; border:2px solid #BEDB74;}
.selected {padding-top:2px; color:#fff; font-weight:bold;  border:2px solid #FBDD09; border-radius:3px;}
.rim {display:inline; float:left; height:6px; width: 100%;}
.global {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	}

/* --------------------- */
/* -   GLOBAL ITEMS    - */
/* --------------------- */

/* == Search bar == */

.search{/*background-color:#eee; height:30px;border:2px solid #aaa;*/}
.search_input{height: 100%; width:100%; margin:0; padding: /* 0.3333em 2.1% */ 0; border:none;}

/* following class applies to mobile search results list (replaces the autocomplete) */
ul .searchResults, li .resultItem {font-size:140%;}


/* == Page headers == */

/* guide pages */
.pagetitle {display:inline; float:right; /*width:100%;*/ margin:0; padding:2px 5px; min-height: 1em; overflow:hidden;}
.pagetitle h1{color:red;}
.pagetitle img{float:left; margin:0 1% 0 0; padding-top:2px;}
.pagetitle td {margin:0; padding:0 10px;}

.fromTo {float: right;}

.guideh1box {display:inline; float:left; width:100%; margin:0 0 0 1%; padding:0 1% 0 0;}
.rt{display:inline; float:left; width:100%;}
.rti{display:inline; float:left; padding-right:1%; max-width:4.5%;}
.rtt{display:inline; float:left; width:94.5%;}
.rti img{}
.titleXS, .titleS {display:inline; float:left;}
.titleS h1{font-size: 1.8em; line-height: 1em; margin-bottom: 0.777777778em;}
.titleXS h1{font-size: 1.3125em !important; width:100%; margin-top:0.15em;}


/* static pages */
.staticpage h1 {color:red; font-size: 2.25em; line-height:1.33333333333333em;}
.staticpage h2 {font-size:1.75em;}
.staticpage h3 {font-size:1em; font-weight:600; text-shadow:none;}
.staticpage {/* min-height: 1em; overflow:hidden; */}

.staticpage p {margin-bottom:0.5em;}
.staticpage p .label {width: 38%; padding-right:2%; }
.staticpage input {width: 60%;}
.staticpage textarea {width: 60%;}
.staticpage .submit {margin-left:20%; width: 20%;}
.pad {padding-left:2% !important; padding-right:2% !important;}
/* == BOXES == */

/* basic box */
.box {padding:10px 0.8em;}
.main {min-height:60px;}
.staticpage img{margin:0;}

/* warning box */
.warningheader {height: 1.8em;}
.warningheader h3 {float:left; margin:0px; padding: 5px 5px 0 5px; width:94%; font-size:100%;}

/* highlight box (top right) */
.highlight {margin: -2px 0 0 -5px; padding:15px; background-color:#BEDB74; border: 2px solid #FBDD09; border-radius:0 0 15px 15px;}
.highlight .right, .highlight2 .right{width:100%; text-align:center;}

.highlight h2, .highlight2 h2{font-size:1em; color:#FE2423;}
.highlight ol, .highlight2 ol{font-size:1.2em;}
.highlight ul, .highlight2 ul{padding-left:6%;}
.highlight ul.sublist{font-size:0.6em;}
.highlight .submit, .highlight2 .submit {float:right; margin:5px 0; height:1.5em;}
.highlight .input, .highlight2 .input {width:98%; margin:5px 0; padding:2px 5px;}
/* special headers */
.hwide {font-size:1.7em !important; padding:0.15em 0 0 0; margin:0; color:white; text-shadow:none;}

.highlight2 {margin: -2px 0 0 0; padding:15px 0 0 0; text-align:right; /*border: 2px solid #FBDD09; border-radius:0 0 15px 15px;*/}
.highlight2 ul{font-size:1em; padding-left:6%; list-style-type: none;}
.highlight2 li {padding-bottom:12px;}
.highlight2 li span.small {font-style:normal !important;}

.highlight p span,.highlight ul span, .highlight2 p span,.highlight2 ul span{font-style:italic;}
.actionbutton {color:red; padding:2px 10px ; background-color:#FBDD09 !important; border:2px solid yellow; border-radius:15px; text-align:center !important;}

/* == List tables == */

/* List main header h2 */
.list, .from, .to {word-wrap: break-word;}
.listtitle {padding: 36px 0 0 0; height: 3em;}
.listtitle h2 {float:left; padding: 0 1% 0 0; width:90%; font-size: 1.5em; line-height: 1.333333333333333333em; margin-bottom: 0.5em;}
.listtitle img {/*float:left;*/ margin: 0; padding: 0 10px 0 0; width:0.75em; height:0.75em; vertical-align: baseline;}
.listtitle h2.stop {width:50% !important;}

/* List main header h3 (for comment box, lists displayed below the map) */
.sublist {padding: 0; height: 1.6em; /*background-color:#999;*/ border-bottom: none !important;}
.sublist h3 {float:left; margin:0px; padding: 0.1em 5px 0 5px; width:80%; /*color:#fff;*/ }
.sublist img {margin:0px; padding: 0.4em 0 0 0; height:16px; width:16px; text-align:center !important;}
.sublist span {display:block; vertical-align:baseline; width:100%; text-align:center;}
.sublist span.col_img {display:block; vertical-align:baseline; width:100%; text-align:center;}
.sublist span.col_img img{width:12px;height:12px;padding:0; margin:0;}
.sublist .charfix {font-size:130%; width:98%; margin-top:0.11em;}

/* extra info under header (frequencies in route pages) */
.listextrainfo {padding:0.3em 10px 0 5px; text-align: /*right;height: 1.5em;*/}
.listextrainfo p {/*color:red;*/}
.listextrainfo img {float:left; margin:0.166667em 1% 0 2%; width:0.75em;}
.listextrainfo span {display:inline; float:left;}
.listextrainfo span.frequency{margin:0; color:black;}
.listextrainfo span.thumbs {display:inline; float:right; margin:0 10px; width:30%; color:grey; font-size:75%;}

/* list filters */
.listfilter_form{width:100%; margin:0px; padding:0 -1%;}
.listfilter_input{width:98%; height:1.8em; margin:0; padding:0 2%; font-size:0.75em; border: 2px solid #cdcdcd;}

/* lists contents - stop area route */
.listheight {display:block; overflow:hidden; height:100%;}

/* list styles to be suspended */
.list {background-color:white;}
.list ul {list-style-type:none; margin:0; padding:10px 5px 0 5px; }
.list li {line-height:1.2em; padding:0 0 0.8em 0;}

/* LIST BASE */
.tablebase {width:100%; padding:0 2.45% 0 2.45%; margin-bottom: 24px;}
.tablebase tr {margin:0; padding:0 0 0 1% !important; width:100%; min-height:10px; border-bottom: 1px solid #ccc;}
.tablebase th {padding:0 1% 0 1% !important;} 
.tablebase td {padding:5px 3.16% 5px 1.58%;}
.tablebase .filterlistinput {width:92%;}
span.half {display:inline; float:left; margin:0; padding:0; width:50%;}
.right span {float:right !important;}


/* single column */
.singleCol_row {width:100%; margin:5px 0; padding:0; background-color:white;}
.landing_area {width:100%; padding:0 2.45% 0 2.45%;}
.landing_area img {width:1.2em; text-align:center;}
.landing_area span {font-weight:normal;}

/* 2-column */
.twoCol_row {width:100%; margin:5px 0; padding:0; background-color:white;}
.twoCol_wide {width:58%;}
.twoCol_narrow {width:37.01%;}

/* 3-column (stop, area, distance) */
.route_stop {width:46.84%;}
.route_stop .filterlistinput {width:92%;}
.route_stop img {position:relative; left:30% !important;}

.route_area {width:20.26%;}
.route_area .filterlistinput {margin-left:-0.6em; width:100%;}
.route_area img {position:relative; left:30% !important;}

.route_distance {width:17.1%;}
.route_distance img {position:relative; left:30% !important;}


/* 4-column (route, from +to (route description), time) */
.stop_number {width:16.01%;}
.stop_number .filterlistinput {width:92%;}
.stop_number .no {position:relative; margin:0; padding:0; line-height: 1em; left:30% !important;}

.stop_route {width:62.99%;}
.stop_route .filterlistinput {margin-left:-0.6em; width:100%;}
.stop_route img {position:relative; left:30% !important;}

.stop_frequency {width:16.01%;}
.stop_frequency img{float:left; padding-left:0; width:12px; height:12px;}
.stop_frequency span.thumbs {display:inline; float:right; margin:0 5%; padding-right:1.99% !important; width:66%; color:#fff; font-size:70%; line-height:1em;}


/* == comments == */

.comments{}
.comments h4{font-size:90%}
.comment_item{display:inline; float:left; width:100%; padding:1.2em 0; border-bottom:1px solid #ccc;}
.comment_user{font-size:0.68em; font-weight:bold;}
.comment_content{font-size:0.92em; font-weight:normal;}
.comments .box{display:inline;float:left; width:100%; padding:10px 0 ;}
.comments label, .label{display:inline; float:left; margin:0 2.71% 0 0 !important; width: 135px; font-size:0.92em; font-weight:bold;}
.comments textbox{display:inline; float:left; width: 64.76%;}
.comments .input{width:64.76%;}
.pot {display:none;}
#comment_form {padding:0 0 20px 0;}
#id_name {width:50%}
#id_email {width:50%}
#id_url {width:50%}
#id_comment {width:63.5%; height:6em;}
#id_submit {display:inline; float:left; width:20%}


/* --------------------- */
/* - LANDING PAGE DIVS - */
/* --------------------- */

/* DATABASE STATISTICS DISPLAY on INDEX.html */

.searchbar {display:inline; float:right; /*width:100%;*/ margin:0; padding-left: 2%;}
.searchbar ul {list-style-type:none; margin:0;}
.searchbar ul img {/*margin:-2px 0 0 2% !important;*/ margin: 0;}
.searchbar li {
	display:inline; float:left; width: 27%; /*height: 1em;*/ margin: 0 2.5% 0 0; padding:0.1em 5px 0; font-weight:200 !important;
	border: 3px dotted #ffdd00; 
	font-family: "Boston Traffic", Impact, "Charcoal CY", Charcoal, "DejaVu Sans Condensed", sans-serif; 
	text-transform: uppercase; color: #ccc; text-align:center; line-height:1em;}
.searchbar li:last-of-type {margin-right: 0;}
.searchbar img.center 	{display:block; text-align:center; margin-left:auto; margin-right:auto;}
.statsImg {width:18px;}
.searchbar .statistics 	{/*display:block; float:left;*/ /*margin-top:-3.5%; padding:0; width:22%; font-size:42%; font-weight:200 !important; line-height:1.5em;*/ text-align:center; margin-left:auto; margin-right:auto;}

/* .statistics .overline {padding: 0.2em 0 0 0; border-top: 1px dashed #ccc;} */



/*map looks for landingpage */
.landingmap {width:100%; height:100%; border:0; scrolling:no; margin:0; /*border-radius:15px;*/}


/* --------------------- */
/* -    GUIDE PAGES    - */
/* --------------------- */

.list, .map, .comments, .listtitle, .listextrainfo
{display:inline; float:left; margin:0; width:100%;}
.maphome {clear:both;}

/* == STOP PAGES == */
.AltStopName {width:60%; font-size:0.875em; color:black;}
.AltStopSubmit {font-size:0.875em;}

/* stop list table */
.routecheckbox {width:3%;}
.routecheckboxlabel {width:10%;font-size:80%;}


/* ROUTE PAGES */
/* page title for route pages */
.routeh1box {width:90%; margin-left:1%; min-height:4.6em;}
.from, .dash, .to {display:block; float:left; margin:0px; padding:0 1.5% 0 0;}
.number{display:block; float:left; margin:0px; padding:0 1% 10px 0; max-width:11%; overflow:hidden;}
.from{ max-width:38%; text-align:left;}
.dash{width:2%; text-align:centre;}
.to{ max-width:38%; text-align:left;}


/* ------------------------------ */
/* -       STATIC PAGES         - */
/* - SMS,ANDROID,JOIN US,ABOUT US */
/* ------------------------------ */

.langs {float:left; display:inline; padding:0.25em 1% 0.25em 1%; margin:0;
		font-size:1em !important; color:white; text-shadow:none;
		font-family:"gunplay", Impact, "Charcoal CY", "Trebuchet MS", Charcoal, sans-serif;font-weight:300;text-transform: uppercase;}

.fix30 {height:36px;}
.top {margin-top:-36px !important; padding:10px 1% 0 0 !important;}
.smstxt {display:block; width:84%; margin:0 6% 0 6%; padding:0.5em 2% 0.5em 2%; font-family: 'Quantico', sans-serif; font-style:normal; background-color:;}
.smsimg {display:block; padding-bottom:24px;}
.charfix {font-size:180%; line-height:0; display:block; float:left; margin-top:0.45em; padding-right:2%; padding-left:2%;}
.pointleft { 
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
   -ms-transform: rotate(-180deg);
   -o-transform: rotate(-180deg);
   transform: rotate(-180deg);
   filter: progid:DXImageTransform.Microsoft.Matrix( 
    M11=-1, M12=1.2246063538223773e-16, 
    M21=-1.2246063538223773e-16, 
    M22=-1, sizingMethod='auto expand');
   zoom: 1;
   margin-top:0.55em; padding-left:2%; padding-right:2%; float:right;
 }

/* ------------------------------ */
/* -       PERSONAL PAGES       - */
/* ------------------------------ */
/* SIGN UP / SIGN IN */
.divline {display:inline; float:left; width:100%; font-size:0.95em; margin: 0 0 6px 0;}
.divlabel {display:inline; float:left; width:20%; margin: 0 0 10px 0; padding:2px 0 0 0;}
.divinput {display:inline; float:left; width:80%;}
.divinput span {float:left; display:inline; width:100%; font-size:0.8em;}

/* personal pages */
#box-nav {list-style:none;}
#box-nav li {padding-left:6px;}
#box-nav .selected {width: 63.8%; padding:2px 0 2px 4px !important; color:#fff; font-weight:bold;  border:2px solid #FBDD09; border-radius:3px;}

/* --------------------- */
/* -        OTP        - */
/* --------------------- */
