.search_input {
    border: 3px solid #deeebf;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 20000; /* given so it's the topmost div */
}

.lightBoxBlock {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.lightBox {
    background: white;
    padding: 10px;        
    position: relative;
}

.closeLightBox {
    position: absolute;
    right: -10px;
    top:-10px;
}

.openLightBox, .closeLightBox {
    background: yellow;
    padding: 4px;
}

